<app-profile-section-header [title]="'Work experience'" [canEdit]="false"></app-profile-section-header>

<app-dev-project-card
  *ngFor="let project of (developer$ | async).projects"
  [project]="project"
  [availableTechnologies]="availableTechnologies"
  (save)="onSaveClick()"
  (cancel)="onCancelClick()"
  (removeTechnology)="onTechnologyRemove($event)"
  ></app-dev-project-card>

<ng-container *ngIf="!(developer$ | async).projects.length">
  <span>Projects are not added</span>
  <app-button [text]="'Add new project'" (buttonClick)="onCancelClick()"></app-button>
</ng-container>
