<app-profile-section-header [title]="'Work experience'" [canEdit]="false"></app-profile-section-header>

<ng-container *ngrxLet="userInfo$ as userInfo">
  <app-dev-project-card class="m__top--30"
                        *ngFor="let project of userInfo.devProperties.projects; index as i"
                        [project]="project"
                        [id]="i"></app-dev-project-card>
</ng-container>

<div class="m__top--30 m__bottom--10">
  <app-button [text]="'Add project'"
              (buttonClick)="onAddClick()"></app-button>
</div>

<ng-container *ngrxLet="userInfo$ as userInfo">
  <div class="d__flex d__flex--direction-column d__flex--items-center p__20" *ngIf="!isNewProject && !userInfo.devProperties.projects.length">
    <span class="text text__title text__color--1 m__top--50"> You have not added any project </span>
  </div>
</ng-container>

<div *ngIf="isNewProject" class="d__flex d__flex--direction-column d__flex--items-center m__bottom--10">

  <div [formGroup]="form" class="d__flex d__flex--justify-around p__20">

    <div class="m__bottom--10">
      <div class="profile-photo-wrap" (click)="openUploadImageDialog(true)">
        <i class="profile-photo" *ngIf="!logoUrl"></i>
        <img [src]=logoUrl alt="projectLogo" *ngIf="logoUrl">
        <i class="plus"></i>
      </div>
    </div>

    <div class="d__flex d__flex--direction-column d__flex--items-center p__20">

      <div class="d__inline-flex d__flex--justify-between d__flex--items-center m__bottom--10 w__350">
        <span class="text text__sm text__bold text__uppercase m__right--10">Title</span>
        <app-input [type]="'inner'" formControlName="title" [placeholder]="'Title'"></app-input>
      </div>

      <div class="d__inline-flex d__flex--justify-between d__flex--items-center m__bottom--10 w__350">
        <span class="text text__sm text__bold text__uppercase m__right--10">Description</span>
        <app-input [type]="'inner'" formControlName="description" [placeholder]="'Description'"></app-input>
      </div>

      <div class="d__inline-flex d__flex--justify-between d__flex--items-center m__bottom--10 w__350">
        <span class="text text__sm text__bold text__uppercase m__right--10">Link</span>
        <app-input [type]="'inner'" formControlName="link" [placeholder]="'Link'"></app-input>
      </div>

      <mat-form-field class="chip-list m__top--10 w__350" [class.edit-mode]="isNewProject">
        <mat-chip-list #chipListTechnologies formControlName="technologies">
          <mat-chip *ngFor="let technology of selectedTechnologies"
                    [selectable]="false"
                    [removable]="isNewProject"
                    (removed)="onTechnologyRemove(technology)"> {{ technology.name }}
            <mat-icon matChipRemove *ngIf="isNewProject">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Add Technology..."
                 [readOnly]="!isNewProject"
                 [matChipInputFor]="chipListTechnologies"
                 [matAutocomplete]="autoTechnologies"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="true">
        </mat-chip-list>

        <mat-autocomplete #autoTechnologies="matAutocomplete" (optionSelected)="onTechnologySelect($event)">
          <mat-option *ngFor="let technology of availableTechnologies"
                      [value]="technology"> {{ technology.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div>
        <mat-form-field appearance="fill">
          <input matInput formControlName="from" [placeholder]="'From'" [matDatepicker]="pickerFrom">
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput formControlName="to" [placeholder]="'To'" [matDatepicker]="pickerTo">
          <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>
      </div>

    </div>

    <div class="m__bottom--10">
      <div class="profile-photo-wrap" (click)="openUploadImageDialog(false)">
        <i class="profile-photo" *ngIf="!projectImages"></i>
        <img [src]=image alt="projectImage" *ngFor="let image of projectImages">
        <i class="plus"></i>
      </div>
    </div>

  </div>

  <div class="text__right" *ngIf="isNewProject">
    <app-button [type]="'transparent'" [text]="'Cancel'" (buttonClick)="onCancelClick()"></app-button>
    <app-button [text]="'Save'" (buttonClick)="onSaveClick()"></app-button>
  </div>

</div>
