@import "~assets/scss/variables";

:host {
  background: $color-1;
  width: 300px;
  padding: 10px 20px;
  color: $text-color-3;
}

.img {
  min-width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: $color-3;
}

.notification {
  border-top: 1px solid $color-6;
  padding-top: 10px;
}
