@import '~assets/scss/variables';

:host {
  height: 600px;
  padding: 0 35px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 420px;
  background-color: $color-1;
  position: relative;
  z-index: 1;
}

.container {
  padding-left: 30px;
  padding-top: 30px;
}

.btn {
  height: 50px;
  border: 1px solid $color-3;
  border-left: 3px solid $color-2;
}

.line {
  position: absolute;
  top: 0;
  right: 0;
  height: 600px;
  border-right: 2px solid $color-5;
}

.light-point {
  margin-right: -6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $color-5;
}

.inner-point {
  background: $color-5;
  filter: blur(5px);
  width: 10px;
  height: 10px;
}
