@import '~assets/scss/variables';

:host {
  display: flex;
  background: $color-1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  img {
    max-width: 135px;
    max-height:135px;
    border-radius: 50%;
  }

  .content-wrap {
    padding: 20px 60px;
  }

  .photo-wrap {
    padding: 20px 60px;

    background-image: url(~assets/icons/line-sparkl.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .separator {
    width: 100%;
    border-top: 1px solid $color-4;
    opacity: 0.5;
  }

  .status-free {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-color-7;

    &:before {
      content: '';
      width: 7px;
      height: 7px;
      background-color: $text-color-7;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}
