<app-landing-title class="landing-title m__top--60"
                   title="Find top-level freelance developers for your project"
                   subtitle="Hire certified developers with years of experience in the tech world"
                   btnTitle="Hire a freelancer">
</app-landing-title>

<app-landing-separator class="separator w__100per m__top--100"></app-landing-separator>

<app-landing-benefits class="landing-benefits m__top--100" type="client"></app-landing-benefits>

<app-landing-separator class="separator w__100per m__top--100"></app-landing-separator>

<app-landing-guide [data]="guideData" class="m__top--100"></app-landing-guide>

<app-landing-separator class="separator w__100per m__top--100"></app-landing-separator>

<!--<app-landing-top type="developers" [data]="developers" class="m__top&#45;&#45;100"></app-landing-top>-->

<!--<app-landing-separator class="w__100per m__top&#45;&#45;100"></app-landing-separator>-->

<!--<app-landing-projects [data]="demoProjects" type="companies" class="m__top&#45;&#45;100"></app-landing-projects>-->

<!--<app-landing-separator class="w__100per m__top&#45;&#45;100"></app-landing-separator>-->

<app-landing-description class="m__top--100"></app-landing-description>
