@import '~assets/scss/variables';

.dialog-header {
  height: 62px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: $color-1;
}

.close {
  position: absolute;
  right: 20px;
}
