@import '~assets/scss/variables';

:host {
  @media (max-width: 576px) {
    width: 80%;
  }

  button {
    background: $color-2;
    box-shadow: inset 0 6px 5px rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    min-height: 35px;
    min-width: 160px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: ease 0.2s;

    &:hover {
      background-color: $color-2-hover;
    }

    &:active, &:focus {
      background-color: $color-2-active;
    }

    &:disabled {
      background-color: $text-color-6;
      cursor: not-allowed;
    }

    &.main {
      width: 352px;
      height: 55px;

      @media (max-width: 576px) {
        width: 100%;
      }
    }

    &.secondary {
      border: 1px solid $color-2;
    }

    &.transparent,
    &.secondary {
      background: transparent;
      box-shadow: none;

      span {
        color: $text-color-2;
      }
    }
    &.transparent-gold {
      background: transparent;
      box-shadow: none;

      span {
        color: $text-color-5;
      }
    }

    &.chat-send {
      display: block;
      margin: 0 auto;
      min-width: 35px;
      min-height: 35px;
      width: 90px;
      height: 40px;
      padding: 5px;
      background: none;
      box-shadow: none;
      border: none;

      &:not(:disabled):hover,
      &:not(:disabled):active,
      &:not(:disabled):focus {
        background: none; // Reset standart effect
      }

      &:disabled {
        cursor: not-allowed;
      }

      span {
        float: left;
        font-weight: 600;
        color: $text-color-5;
      }
    }

  }
}

:host-context(.landing) button {
  padding: 25px 50px;
  border-radius: 100px;

  span {
    font-weight: 700;
    font-size: 20px;
  }
}
