@font-face {
  font-family: Raleway;
  src: url(assets/fonts/raleway/Raleway-Medium.ttf) format("opentype");
}

@font-face {
  font-family: 'Raleway Light';
  src: url(/assets/fonts/raleway/Raleway-Light.ttf) format("opentype");
}

@font-face {
  font-family: 'Raleway ExtraLight';
  src: url(/assets/fonts/raleway/Raleway-ExtraLight.ttf) format("opentype");
}

@font-face {
  font-family: 'Work Sans';
  src: url(/assets/fonts/worksans/WorkSans-Medium.otf) format("opentype");
}

@font-face {
  font-family: 'Work Sans Light';
  src: url(/assets/fonts/worksans/WorkSans-Light.otf) format("opentype");
}

@font-face {
  font-family: Work Sans;
  src: url(assets/fonts/work-sans/WorkSans-Medium.ttf) format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: Work Sans;
  src: url(assets/fonts/work-sans/WorkSans-Regular.ttf) format("opentype");
  font-weight: 400;
}
