@font-face {
  font-family: Raleway;
  src: url(assets/fonts/raleway/Raleway-Medium.ttf) format("opentype");
}

@font-face {
  font-family: Work Sans;
  src: url(assets/fonts/work-sans/WorkSans-Medium.ttf) format("opentype");
}
