.card {
  width: 32px;
  height: 32px;
  background-size: cover;
  background-image: url(~assets/icons/card-sprite.jpg);

  &.amex {
    background-position: 0 0;
  }

  &.diners {
    background-position: 32px 0;
  }

  &.discover {
    background-position: 64px 0;
  }

  &.jcb {
    background-position: 96px 0;
  }

  &.mastercard {
    background-position: 128px 0;
  }

  &.unionpay {
    background-position: 160px 0;
  }

  &.unknown {
    background-position: 192px 0;
  }

  &.visa {
    background-position: 224px 0;
  }
}
