.m {
  &--0 {
    margin: 0;
  }

  &--5 {
    margin: 5px;
  }

  &__top {
    &--5 {
      margin-top: 5px;
    }

    &--10 {
      margin-top: 10px;
    }

    &--15 {
      margin-top: 15px;
    }

    &--20 {
      margin-top: 20px;
    }

    &--25 {
      margin-top: 25px;
    }

    &--30 {
      margin-top: 30px !important;
    }

    &--36 {
      margin-top: 36px;
    }

    &--45 {
      margin-top: 45px;
    }

    &--50 {
      margin-top: 50px;
    }

    &--60 {
      margin-top: 60px;
    }

    &--100 {
      margin-top: 100px;
    }

    &--130 {
      margin-top: 130px;
    }
  }

  &__right {
    &--auto {
      margin-right: auto;
    }

    &--0 {
      margin-right: 0 !important;
    }

    &--5 {
      margin-right: 5px;
    }

    &--10 {
      margin-right: 10px;
    }

    &--20 {
      margin-right: 20px;
    }

    &--30 {
      margin-right: 30px;
    }

    &--50 {
      margin-right: 60px;
    }
    &--80 {
      margin-right: 80px;
    }
  }

  &__left {
    &--30 {
      margin-left: 30px;
    }
  }

  &__left {
    &--auto {
      margin-left: auto;
    }
  }

  &__bottom {
    &--10 {
      margin-bottom: 10px;
    }

    &--20 {
      margin-bottom: 20px;
    }

    &--30 {
      margin-bottom: 30px;
    }

    &--50 {
      margin-bottom: 50px;
    }

    &--60 {
      margin-bottom: 60px;
    }
    &--80 {
      margin-bottom: 80px;
    }
    &--90 {
      margin-bottom: 90px;
    }
  }
}

.p {
  &__0 {
    padding: 0 !important;
  }

  &__15 {
    padding: 15px;
  }

  &__20 {
    padding: 20px;
  }

  &__30 {
    padding: 30px;
  }

  &__60 {
    padding: 60px;
  }

}

.pos {
  &__absolute {
    position: absolute;
  }
  &__relative {
    position: relative;
  }
}

.w {
  &__30 {
    width: 30px;
  }

  &__120 {
    width: 120px !important;
  }

  &__260 {
    width: 260px !important;
  }

  &__280 {
    width: 280px !important;

    @media (max-width: 992px) {
      width: calc(50% - 10px) !important;
      margin-right: 10px;
    }
  }

  &__320 {
    width: 320px !important;
  }

  &__300 {
    width: 300px !important;
  }

  &__350 {
    width: 350px !important;
  }

  &__430 {
    width: 430px !important;
  }

  &__494 {
    width: 494px !important;
  }

  &__594 {
    width: 594px !important;

    @media (max-width: 992px) {
      width: 80% !important;
    }
  }

  &__600 {
    width: 600px !important;
  }

  &__20per {
    width: 20%;
  }

  &__25per {
    width: 25%;
  }

  &__30per {
    width: 30%;
  }

  &__40per {
    width: 40%;
  }

  &__50per {
    width: 50%;
  }

  &__100per {
    width: 100%;
  }
}

.h {
  &__auto {
    height: auto !important;
  }

  &__50 {
    height: 50px;
  }

  &__80 {
    height: 80px;
  }

  &__100p {
    width: 100%;
  }

  &__100 {
    height: 100px !important;
  }

  &__180 {
    height: 180px !important;
  }
}
