<div class="notification-popup">
  <span
    class="icon m__right--20"
    [class.icon__success-sign-sm]="notification.type === 'success'"
    [class.icon__error-sign-sm]="notification.type === 'error'"
  ></span>
  <span
    class="d__flex--1 text text__md m__right--5"
    [class.text__color--3]="notification.type === 'success'"
    [class.text__color--2]="notification.type === 'error'"
    [innerHTML]="notification.message"
  ></span>
  <i class="cursor__pointer close" (click)="onNotificationClose()"></i>
</div>
