<div [@notification] class="notification-popup"
     [class.success]="notification.type === 'Success'"
     [class.error]="notification.type === 'Error'"
     [class.warning]="notification.type === 'Warning'"
>
  <ng-container [ngSwitch]="notification.type">
    <div *ngSwitchCase="NotificationStatus.Success" class="icon m__right--30 d__flex d__flex--direction-column d__flex--items-center d__flex--justify-center">
      <i class="success-icon"></i>
    </div>

    <div *ngSwitchCase="NotificationStatus.Warning" class="icon m__right--30 d__flex d__flex--direction-column d__flex--items-center d__flex--justify-center">
      <i class="warning-icon"></i>
    </div>

    <div *ngSwitchCase="NotificationStatus.Error" class="icon m__right--30 d__flex d__flex--direction-column d__flex--items-center d__flex--justify-center">
      <i class="close-black"></i>
    </div>
  </ng-container>

  <div class="m__right--30">
    <span class="text text__fw--400 text__uppercase text__lg m__bottom--10" *ngIf="notification.type === 'Success'">Success</span>
    <p class="text m--0">{{ notification.message }}</p>
  </div>
  <i class="cursor__pointer close-black" (click)="onNotificationClose()"></i>
</div>
