<div class="wysiwyg">
  <div class="wysiwyg__toolbox">
    <ul class="wysiwyg__toolbox-tools">
      <li class="wysiwyg__toobox-tool">
        <button class="wysiwyg__toolbox-tool-button" (click)="onBoldClick()">
          <i class='wysiwyg-icon bold' aria-hidden='true' focusable='false'></i>         
        </button>
      </li>
      <li class="wysiwyg__toobox-tool">
        <button class="wysiwyg__toolbox-tool-button">
          <i class='wysiwyg-icon italic' aria-hidden='true' focusable='false'></i>
        </button>
      </li>
      <li class="wysiwyg__toobox-tool">
        <button class="wysiwyg__toolbox-tool-button">
          <i class='wysiwyg-icon underline' aria-hidden='true' focusable='false'></i>
        </button>
      </li>
      <li class="wysiwyg__toobox-tool">
        <button class="wysiwyg__toolbox-tool-button">
          <i class='wysiwyg-icon linethrough' aria-hidden='true' focusable='false'></i>
        </button>
      </li>
      <li class="wysiwyg__toobox-tool">
        <button class="wysiwyg__toolbox-tool-button">
          <i class='wysiwyg-icon smile' aria-hidden='true' focusable='false'></i>
        </button>
      </li>
      <li class="wysiwyg__toobox-tool">
        <button class="wysiwyg__toolbox-tool-button">
          <i class='wysiwyg-icon font' aria-hidden='true' focusable='false'></i>
        </button>
      </li>
      <li class="wysiwyg__toobox-tool">
        <button class="wysiwyg__toolbox-tool-button">
          <i class='wysiwyg-icon align-right' aria-hidden='true' focusable='false'></i>
        </button>
      </li>
      <li class="wysiwyg__toobox-tool">
        <button class="wysiwyg__toolbox-tool-button">
          <i class='wysiwyg-icon align-center' aria-hidden='true' focusable='false'></i>
        </button>
      </li>
      <li class="wysiwyg__toobox-tool">
        <button class="wysiwyg__toolbox-tool-button">
          <i class='wysiwyg-icon align-left' aria-hidden='true' focusable='false'></i>
        </button>
      </li>
      <li class="wysiwyg__toobox-tool">
        <button class="wysiwyg__toolbox-tool-button">
          <i class='wysiwyg-icon line-spacing' aria-hidden='true' focusable='false'></i>
        </button>
      </li>
      <li class="wysiwyg__toobox-tool">
        <button class="wysiwyg__toolbox-tool-button">
          <i class='wysiwyg-icon link' aria-hidden='true' focusable='false'></i>
        </button>
      </li>
      <li class="wysiwyg__toobox-tool">
        <button class="wysiwyg__toolbox-tool-button">
          <i class='wysiwyg-icon gallery' aria-hidden='true' focusable='false'></i>
        </button>
      </li>
      <li class="wysiwyg__toobox-tool">
        <button class="wysiwyg__toolbox-tool-button">
          <i class='wysiwyg-icon upload' aria-hidden='true' focusable='false'></i>
          Attach Files
        </button>
      </li>
    </ul>
  </div>
  <div [textContent]="inputText" (input)="inputText=$event.target.textContent" class="wysiwyg__body" placeholder="Message" contenteditable></div>
</div>