<div class="left-side">
  <img src="./assets/img/default-client-photo.svg" alt="client-photo" class="client-photo">
  <div class="company-name">
    No Company
  </div>
  <div class="price">
    $1000/Mth
  </div>
  <ul class="job-nav">
    <li class="active">
      <i class="job-nav-icon project"></i>
      <span>Project</span>
    </li>
    <li>
      <i class="job-nav-icon duration"></i>
      <span>Duration</span>
    </li>
    <li>
      <i class="job-nav-icon idea"></i>
      <span>Key Skills</span>
    </li>
  </ul>
</div>

<div class="right-side">
  <!--  <div class="job-info-wrapper">-->
  <!--    <img src="/assets/icons/location.svg" alt="location">-->
  <!--    <span class="job-location">kyiv, ukraine</span>-->
  <!--    <hr>-->
  <!--    <span class="job-date">{{ '07.02.1996' | date:'dd MMMM'}}</span>-->
  <!--  </div>-->

  <div class="location-wrap">
    <div class="d__flex m__right--30">
      <i class="location m__right--10"></i>
      <span class="text text__md text__color--3">kyiv, ukraine</span>
    </div>

    <div class="separator m__right--30"></div>

    <span class="text text__md text__color--3">{{ '07.02.1996' | date:'dd MMMM'}}</span>
  </div>

  <div>
    <div class="job-title">job title</div>
    <div class="job-duration"><span>Project duration</span> 333 months</div>
    <div class="job-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid amet at autem
      blanditiis debitis, deserunt dolores, et expedita hic itaque minima molestiae natus nihil nisi obcaecati placeat
      quam quia quod saepe similique velit voluptate voluptatibus? Ad, assumenda at doloremque fuga iure laborum maiores
      minima molestias officiis sequi! Odit, sed!
    </div>
    <hr class="splitter-line">
  </div>


  <div> <!-- TODO -->
    <div class="job-categories">
      <span>Node</span>
      <span>Node</span>
      <span>Node</span>
      <span>Node</span>
      <span>Node</span>
    </div>
    <hr class="splitter-line">
  </div>

  <div class="job-pluses">
    <div class="pluses-title">will be a plus</div>
    <ul>
      <li><span>adasda</span></li>
      <li><span>sdasdas</span></li>
      <li><span>sdada</span></li>
    </ul>
  </div>

  <button class="btn-respond">RESPOND</button>

  <p class="border-point n1"></p>
  <p class="border-point n2"></p>
  <p class="border-point n3"></p>
  <p class="border-point n4"></p>
  <p class="border-point n5"></p>
  <p class="border-point n6"></p>
  <p class="border-point n7"></p>
  <p class="border-point n8"></p>
  <p class="border-point n9"></p>
  <p class="border-point n10"></p>
</div>

<!--TODO yellow spheres-->
<!--TODO redline under header-->
<!--TODO navigation-->

