<div class="left-side">
  <img src="./assets/img/default-client-photo.svg" alt="client-photo" class="client-photo">
  <div class="company-name">
    No Company
  </div>
  <div class="price">
    ${{job.price}}/Mth
  </div>
  <ul class="job-nav">
    <li [class.active]="activeSection === JobSections.Project"
        (click)="onSectionCLick(JobSections.Project, jobDescriptionRef)">
      <i class="job-nav-icon project"></i>
      <span>Project</span>
    </li>
    <li [class.active]="activeSection === JobSections.Duration"
        (click)="onSectionCLick(JobSections.Duration, durationRef)">
      <i class="job-nav-icon duration"></i>
      <span>Duration</span>
    </li>
    <li [class.active]="activeSection === JobSections.KeySkills"
        (click)="onSectionCLick(JobSections.KeySkills, keySkillsRef)">
      <i class="job-nav-icon idea"></i>
      <span>Key Skills</span>
    </li>
  </ul>
</div>

<div class="right-side">
  <div class="location-wrap">
    <div class="d__flex m__right--30">
      <i class="location m__right--10"></i>
      <span class="text text__md text__color--3">{{job.city}}, {{job.country}}</span>
    </div>

    <div class="separator m__right--30"></div>

    <span class="text text__md text__color--3">{{ job.dateCreated | date:'dd MMMM'}}</span>
  </div>

  <div #jobDescriptionRef>
    <div class="job-title">job title</div>
    <div class="job-duration" #durationRef><span>Project duration</span> {{job.duration}} months</div>
    <div class="job-description">{{job.description}}</div>
    <hr class="splitter-line">
  </div>


  <div #keySkillsRef> <!-- TODO -->
    <div class="job-categories">
      <div *ngFor="let req of job.requirements.split(' ')">{{req}}</div>
    </div>
    <hr class="splitter-line">
  </div>

  <div> <!-- TODO -->
    <div class="job-requirements">
      <div *ngFor="let category of job.categories.split(' ')">{{category}}</div>
    </div>
    <hr class="splitter-line">
  </div>

  <div class="job-pluses">
    <div class="pluses-title">will be a plus</div>
    <div class="section-underline"></div>
    <ul>
      <li><span>Expirience Working Linux/Unix Development Environment, Shell Scripting Skill</span></li>
      <li><span>Expirience with Python</span></li>
      <li><span>Expirience with CI, Jenkins</span></li>
    </ul>
  </div>

  <button class="btn-respond">RESPOND</button>

  <p class="border-point n1"></p>
  <p class="border-point n2"></p>
  <p class="border-point n3"></p>
  <p class="border-point n4"></p>
  <p class="border-point n5"></p>
  <p class="border-point n6"></p>
  <p class="border-point n7"></p>
  <p class="border-point n8"></p>
  <p class="border-point n9"></p>
  <p class="border-point n10"></p>
</div>


<!--TODO redline under header-->


