@import 'assets/scss/variables';


:host {
  background: url("~assets/img/search-bg.png");
  padding: 20px 12.5%;
  min-height: calc(100% - 160px);
  width: 100vw;
  color: white;
  justify-content: flex-start;
  display: flex;
}


.left-side {
  background-color: black;
  width: 25%;
  box-sizing: content-box;
  height: fit-content;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2% 4.5%;
  min-width: 170px; //TODO change

}

.client-photo {
  min-height: 100px;
  min-width: 100px;
  height: 10vmin;
  width: 10vmin;
  border-radius: 50%;
  background-color: white;
}

.company-name {
  margin-top: 10px;
  display: table-caption;
  text-align: center;
  text-transform: uppercase;
  text-decoration-line: underline;
  font-family: 'Raleway Light', sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 2em;
}

.price {
  margin-top: 10px;
  text-align: center;
  text-transform: capitalize;
  color: #F1D261;
  font-family: 'Work Sans', sans-serif;
}

.job-nav {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0;
  width: 100%;
  text-align: center;

  li {
    font-size: 1rem;
    margin-top: 20px;
    padding: 1rem;
    cursor: pointer;

    span {
      margin-left: 10px;
    }

    .job-nav-icon {
      height: 15px;
      width: 15px;

      &.project {
        background-image: url(assets/icons/project.svg);
      }

      &.duration {
        background-image: url(assets/icons/duration.svg);
      }

      &.idea {
        background-image: url(assets/icons/idea.svg);
      }

    }

    &:hover,
    &.active {
      color: #EE1C41;

      .job-nav-icon {

        &.project {
          background-image: url(assets/icons/project-red.svg);
        }

        &.duration {
          background-image: url(assets/icons/duration-red.svg);
        }

        &.idea {
          background-image: url(assets/icons/idea-red.svg);
        }
      }
    }

    &.active {
      border: 1px solid white;
      border-left: 3px solid #EE1C41;
    }
  }
}


.right-side {
  position: relative;
  box-sizing: content-box;
  background-color: black;
  min-width: 75%;
  width: fit-content;
  height: fit-content;
  border-left: 2px solid #F1D261;
  padding: 2% 5% 2% 2%;
  min-height: 700px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;


  > div {
    margin: 5% 0;
  }
}


.location-wrap {
  display: flex;
  align-items: flex-end;
  text-transform: capitalize;
}

.separator {
  align-self: center;
  height: 1px;
  flex: 1;
  opacity: 0.5;
  background-color: $color-4;
}


.job-title {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
}

.job-duration {
  color: #F1D261;

  span {
    color: white;
    text-decoration-line: underline;
  }
}

.job-description {
  font-family: 'Raleway ExtraLight', sans-serif;
  font-style: normal;
  font-weight: 200;
  color: #E2E3E3;
  margin-top: 2%;
}

hr.splitter-line {
  height: 0;
  width: 100%;
  border-bottom: 1px solid #4B4949;
}


.job-categories {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  span {
    text-transform: uppercase;
    margin: 5px;
  }
}

.job-pluses {
  div {
    font-family: Work Sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  ul {
    font-family: Raleway, sans-serif;
    color: red;

    span {
      color: white;
      text-transform: capitalize;
    }
  }
}

.btn-respond {
  border: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 10px;
  padding: 3% 7%;
  color: white;

  width: 30%;

  text-align: center;
  background: #E81C3F;
  box-shadow: inset 0 6px 5px rgba(255, 255, 255, 0.3);
  border-radius: 30px;


  &:active, &:focus {
    outline: none !important;
  }
}

.border-point {
  --size: 8px;

  position: absolute;
  background-color: #F1D261;
  box-shadow: 0 0 4px 4px rgba(237, 216, 140, 0.7);
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  left: calc(-1px - var(--size) / 2);

  &.n1 {
    top: calc(1% - var(--size) / 2);
  }

  &.n2 {
    top: calc(11% - var(--size) / 2);
  }

  &.n3 {
    top: calc(21% - var(--size) / 2);
  }

  &.n4 {
    top: calc(31% - var(--size) / 2);
  }

  &.n5 {
    top: calc(41% - var(--size) / 2);
  }

  &.n6 {
    top: calc(51% - var(--size) / 2);
  }

  &.n7 {
    top: calc(61% - var(--size) / 2);
  }

  &.n8 {
    top: calc(71% - var(--size) / 2);
  }

  &.n9 {
    top: calc(81% - var(--size) / 2);
  }

  &.n10 {
    top: calc(91% - var(--size) / 2);
  }
}
