<div class="container" [class.background-search]="backgroundImageSearch">
  <i class="logo"></i>
  <div class="d__flex m__top--36">
    <a routerLinkActive="active-link" class="m__right--30 text text__uppercase text__color--6 text__x4lg text__fw--300" routerLink="/auth/signup">Sign Up</a>
    <a routerLinkActive="active-link" class="text text__uppercase text__color--6 text__x4lg text__fw--300" routerLink="/auth/login">Sign in</a>
  </div>
  <ng-content></ng-content>
</div>
<div class="aside">
  <i class="logo-preview-1"></i>
</div>
