@import '~assets/scss/variables';
@import "~assets/scss/input";

input {
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  font-family: "Raleway";
  font-feature-settings: "lnum";
  font-size: 12px;
  font-weight: normal;
  color: $text-color-3;
  &::placeholder {
    color: $text-color-6;
  }
}

