<app-header-landing></app-header-landing>
<div class="red-line w__100per"></div>
<div class="container d__flex d__flex--direction-column d__flex--items-center text__color--3 text">
  <div class="text__xxlg m__top--45 text__uppercase">
    <a href="" class="text__fw--500 text__color--5 text__decoration--none m__right--5">client</a>
    <span class="text__color--10 m__right--5">|</span>
    <a href="" class="text__fw--300 text__color--4 text__decoration--none">Freelancer</a>
  </div>
  <div class="search-container w__100per m__top--45 d__flex d__flex--items-center d__flex--justify-between">
    <input class="search-services w__100per text__color--3" type="text" placeholder="Search service">
    <img src="assets/icons/search.svg" alt="search">
  </div>
  <h1 class="text__x8lg m__top--60 text__uppercase text__center 
    text__color--6 text__fw--600">
    Find quality freelancers for development
  </h1>
  <button class="find-btn text__xxlg text__uppercase 
    ext__fw--600 text__color--3 w__100per cursor__pointer">
    Find a performer
  </button>
  <div class="line m__top--130 w__100per"></div>
  <div class="circles w__100per d__flex d__flex--justify-between"> 
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
  </div>
  <div class="advantages text__font--2 text__uppercase m__top--130 d__flex d__flex--items-center">
    <h2 class="text text__fw--600 m__right--10 text__x7lg">Advantages</h2>
    <h2 class="text text__fw--300 text__lighter text__color--2 text__x7lg">ITOP</h2>
    <h2 class="text text__fw--300 text__lighter text__x7lg">1000</h2>
  </div>
  <div class="m__top--60 d__flex d__flex--wrap d__flex--justify-around">
    <div class="advantage-item d__flex d__flex--direction-column d__flex--items-center m__top--30">
      <div class="outline d__flex d__flex--items-center d__flex--justify-center">
        <div class="img"></div>
      </div>
      <h3 class="text advantage-title text text__fw--500 text__xxlg m__top--25">Advantage</h3>
      <p class="advantage-description text text__fw--200 text__md">
        But I must explain to you how all this mistaken idea of denouncing
        pleasure and praising pain was born and I will give you a complete
        account of the system, and expound the actual teachings
        of the great explorer of the truth
      </p>
    </div>
    <div class="advantage-item d__flex d__flex--direction-column d__flex--items-center m__top--30">
      <div class="outline d__flex d__flex--items-center d__flex--justify-center">
        <div class="img"></div>
      </div>
      <h3 class="advantage-title text text__fw--500 text__xxlg m__top--25">Advantage</h3>
      <p class="advantage-description text text__fw--200 text__md">
        But I must explain to you how all this mistaken idea of denouncing
        pleasure and praising pain was born and I will give you a complete
        account of the system, and expound the actual teachings
        of the great explorer of the truth
      </p>
    </div>
    <div class="advantage-item d__flex d__flex--direction-column d__flex--items-center m__top--30">
      <div class="outline d__flex d__flex--items-center d__flex--justify-center">
        <div class="img"></div>
      </div>
      <h3 class="advantage-title text text__fw--500 text__xxlg m__top--25">Advantage</h3>
      <p class="advantage-description text text__fw--200 text__md">
        But I must explain to you how all this mistaken idea of denouncing
        pleasure and praising pain was born and I will give you a complete
        account of the system, and expound the actual teachings
        of the great explorer of the truth
      </p>
    </div>
  </div>
  <div class="line m__top--130 w__100per"></div>
  <div class="circles w__100per d__flex d__flex--justify-between"> 
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
  </div>
  <h1 class="text__x7lg m__top--130 text text__font--2 text__center text__uppercase text__bold">How it works</h1>
  <div class="list-wraper m__top--20">
    <ol class="howitworks-list m--0 p--0">
      <li class="list-item text text__center text__font--2 text__x4lg m__top--30 text__color--6">But I must explain to you how all this mistaken idea of denouncing pleasure</li>
      <li class="list-item text text__center text__font--2 text__x4lg m__top--30 text__color--6">But I must explain to you how all this mistaken idea of denouncing pleasure mistaken idea of denouncing</li>
      <li class="list-item text text__center text__font--2 text__x4lg m__top--30 text__color--6">But I must explain to you how all this mistaken idea of denouncing pleasure</li>
    </ol>
  </div>
  <div class="line m__top--130 w__100per"></div>
  <div class="circles w__100per d__flex d__flex--justify-between"> 
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
  </div>
  <h1 class="text__x7lg m__top--100 text text__font--2 text__center text__uppercase text__bold">Specealist</h1>
  <div class="m__top--20 w__100per d__flex d__flex--wrap d__flex--justify-center">
    <div class="specealist-container w__320 d__flex d__flex--direction-column d__flex--items-center m--5">
      <div class="photo m__top--30"></div>
      <a href="" class="m__top--20 text text__color--3 text__uppercase text__fw--500 text__x4lg text__center">Name<br>Surname</a>
      <span class="m__top--10 text text__font--2 text__center text__fw--500 text__xlg text__color--5">$40.00/hr</span>
    </div>
    <div class="specealist-container w__320 d__flex d__flex--direction-column d__flex--items-center m--5">
      <div class="photo m__top--30"></div>
      <a href="" class="m__top--20 text text__color--3 text__uppercase text__fw--500 text__x4lg text__center">Name<br>Surname</a>
      <span class="m__top--10 text text__font--2 text__center text__fw--500 text__xlg text__color--5">$40.00/hr</span>
    </div>
    <div class="specealist-container w__320 d__flex d__flex--direction-column d__flex--items-center m--5">
      <div class="photo m__top--30"></div>
      <a href="" class="m__top--20 text text__color--3 text__uppercase text__fw--500 text__x4lg text__center">Name<br>Surname</a>
      <span class="m__top--10 text text__font--2 text__center text__fw--500 text__xlg text__color--5">$40.00/hr</span>
    </div>
    <div class="specealist-container w__320 d__flex d__flex--direction-column d__flex--items-center m--5">
      <div class="photo m__top--30"></div>
      <a href="" class="m__top--20 text text__color--3 text__uppercase text__fw--500 text__x4lg text__center">Name<br>Surname</a>
      <span class="m__top--10 text text__font--2 text__center text__fw--500 text__xlg text__color--5">$40.00/hr</span>
    </div>
    <div class="specealist-container w__320 d__flex d__flex--direction-column d__flex--items-center m--5">
      <div class="photo m__top--30"></div>
      <a href="" class="m__top--20 text text__color--3 text__uppercase text__fw--500 text__x4lg text__center">Name<br>Surname</a>
      <span class="m__top--10 text text__font--2 text__center text__fw--500 text__xlg text__color--5">$40.00/hr</span>
    </div>
    <div class="specealist-container w__320 d__flex d__flex--direction-column d__flex--items-center m--5">
      <div class="photo m__top--30"></div>
      <a href="" class="m__top--20 text text__color--3 text__uppercase text__fw--500 text__x4lg text__center">Name<br>Surname</a>
      <span class="m__top--10 text text__font--2 text__center text__fw--500 text__xlg text__color--5">$40.00/hr</span>
    </div>
    <div class="specealist-container w__320 d__flex d__flex--direction-column d__flex--items-center m--5">
      <div class="photo m__top--30"></div>
      <a href="" class="m__top--20 text text__color--3 text__uppercase text__fw--500 text__x4lg text__center">Name<br>Surname</a>
      <span class="m__top--10 text text__font--2 text__center text__fw--500 text__xlg text__color--5">$40.00/hr</span>
    </div>
  </div>
  <a class="m__top--50 text text__font--2 text__fw--500 text__md text__color--3" href="">See all specialists</a>
  <div class="line m__top--130 w__100per"></div>
  <div class="circles w__100per d__flex d__flex--justify-between"> 
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
  </div>
  <h2 class="text__x7lg m__top--100 text text__font--2 text__center text__uppercase text__bold">Our projects</h2>
  <div class="d__flex d__flex--wrap d__flex--justify-center">
    <div class="project-item w__430 m--5"></div>
    <div class="project-item w__430 m--5"></div>
    <div class="project-item w__430 m--5"></div>
    <div class="project-item w__430 m--5"></div>
    <div class="project-item w__430 m--5"></div>
  </div>
  <a class="m__top--50 text text__font--2 text__fw--500 text__md text__color--3" href="">See all projects</a>
  <div class="line m__top--130 w__100per"></div>
  <div class="circles w__100per d__flex d__flex--justify-between"> 
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
    <div class="inner-circle d__flex d__flex--items-center">
      <div class="circle"></div>
    </div>
  </div>
  <div class="desc-title d__flex">
    <h2 class="text__x6lg text text__fw--600 text__uppercase text__color--2 m__right--10">itop1000</h2>
    <h2 class="text__x5lg text text__fw--500">– is an amazingly user-friendly freelance platform that includes:</h2>
  </div>
  <div class="wraper m__top--25 d__flex d__flex--wrap d__flex--justify-center">
    <div class="client-block m__right--10">
      <h3 class="text text__fw--500 text__xxlg">Client</h3>
      <p class="text text__fw--300 text__md">
        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure
      </p>
    </div>
    <div class="freelancer-block">
      <h3 class="text text__fw--500 text__xxlg">Freelancer</h3>
      <p class="text text__fw--300 text__md">
        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure
      </p>
    </div>
  </div>
</div>
<div class="red-line"></div>
<app-footer-landing></app-footer-landing>