@import '~assets/scss/variables';

.container {
    padding: 0 220px;
    background: rgb(39, 39, 39);
    padding-bottom: 100px;
    background-image: url(~assets/img/search-bg.png);
    background-size: 4300px;
    @media (max-width: 1440px) {
        padding: 0 100px;
        padding-bottom: 100px;
    }
}

.search-container {
    max-width: 1440px;
    height: 76px;
    background: $bg-color-opacity;
    box-shadow: 0 7px 4px rgba(0, 0, 0, 0.35);
    border-radius: 50px;
    padding: 0 57px;
    .search-services {
        border: none;
        z-index: 4;
        background: none;
    }

    .search-services:focus {
        outline: none;
    }

    .search-services::placeholder {
        color: $text-color-6;
        font-size: 16px;
        font-weight: 300;
    }

    img {
        width: 30px;
    }
}

.find-btn {
    max-width: 353px;
    height: 74px;
    background: $color-2;
    box-shadow: inset 0 6px 5px rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    border: none;
    &:hover {
        background: $color-2-hover;
    }
}

.line {
    max-width: 1443px;
    border: 1px solid $color-5;
}

.circles {
    max-width: 1443px;
    margin-top: -6px;
}

.circle {
    width: 19px;
    height: 19px;
    background: $color-5;
    opacity: 0.7;
    filter: blur(10px);
}

.inner-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $color-5;
}

.advantage-item {
    max-width: 450px;
}

.outline {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 1px solid $color-4;
}

.img {
    width: 186px;
    height: 186px;
    background: $color-4;
    border-radius: 50%;
}

.advantage-description {
    margin: 0;
    text-align: center;
    padding: 0 20px;
}

.specealist-container {
    height: 346px;
    border: 1px solid $color-5;
}

.photo {
    width: 175px;
    height: 175px;
    background: $color-3;
    border-radius: 50%;
}

.project-item {
    height: 300px;
    background: $color-3;
}

.desc-title {
    padding: 0 150px;
}

.client-block {
    max-width: 650px;
}

.freelancer-block {
    max-width: 650px;
}

.wraper {
    line-height: 24px;
}
