<app-auth-container [backgroundImageSearch]="true">
   <div class="w__594 d__flex d__flex--direction-column d__flex--items-center">
      <div class="m__top--25">
        <span class="bottom-notify">We need to confit you have access to this account, {{ nameDevelop }}</span>
      </div>
       <p class='horizon-line'></p>
      <div class="m__top--25 m__bottom--10">
        <p class="text-align--centre p__confirm">Please confirm your identity to access your account</p>
        <p class="text-align--centre p__name">Hi {{nameDevelop.toLocaleUpperCase()}},</p>
        <p class="text-align--centre p__text">It looks like you are having trouble signing into your account. Please select the confirm button to verify your identity and access your account. (It is only good for 24 hours.) if you do not recognize this activity, please  <a class="p__link" href="#">contact us</a>.</p>
      </div>
      <app-button (buttonClick)="handleClickButton()" [text]="'CONFIRM'" [type]="'main'"></app-button>
   </div>
</app-auth-container>
