<app-profile-section-header [title]="'Profile Settings'" (edit)="onEditClick()"></app-profile-section-header>

<div [formGroup]="form">
  <div class="profile-photo-wrap"
       (click)="openUploadPhotoDialog()"
       *ngIf="!form.controls['photo'].value">
    <i class="profile-photo"></i>
    <i class="plus"></i>
  </div>
  <div *ngIf="form.controls['photo'].value">
    <img [src]="form.controls['photo'].value"
         alt="image"
         class="m__bottom--10 m__top--10"/>
    <i class="plus cursor__pointer" (click)="openUploadPhotoDialog()"></i>
  </div>
  <div class="w__350 d__inline-flex d__flex--justify-between d__flex--items-center m__right--10 m__bottom--10">
    <span class="text text__sm text__bold text__uppercase">First Name</span>
    <app-input
      [type]="'inner'"
      formControlName="firstName"
      [placeholder]="'First Name'">
    </app-input>
  </div>

  <div class="w__350 d__inline-flex d__flex--justify-between d__flex--items-center m__right--10 m__bottom--10">
    <span class="text text__sm text__bold text__uppercase">Last Name</span>
    <app-input
      [type]="'inner'"
      formControlName="lastName"
      [placeholder]="'Last Name'">
    </app-input>
  </div>

  <div class="w__350 d__inline-flex d__flex--justify-between d__flex--items-center m__right--10 m__bottom--10">
    <span class="text text__sm text__bold text__uppercase">Title</span>
    <app-input
      [type]="'inner'"
      formControlName="title"
      [placeholder]="'Title'">
    </app-input>
  </div>

  <div class="w__350 d__inline-flex d__flex--justify-between d__flex--items-center m__right--10 m__bottom--10">
    <span class="text text__sm text__bold text__uppercase">Email</span>
    <app-input
      [type]="'inner'"
      formControlName="email"
      [placeholder]="'Email'">
    </app-input>
  </div>

  <div class="w__350 d__inline-flex d__flex--justify-between d__flex--items-center m__right--10 m__bottom--10">
    <span class="text text__sm text__bold text__uppercase">Time Zone</span>
    <app-input
      [type]="'inner'"
      formControlName="timezone"
      [placeholder]="'Time Zone'"
      [value]="form.get('timezone').value">
    </app-input>
  </div>

  <div class="w__350 d__inline-flex d__flex--justify-between d__flex--items-center m__right--10 m__bottom--10">
    <span class="text text__sm text__bold text__uppercase">Address</span>
    <app-input
      [type]="'inner'"
      formControlName="address"
      [placeholder]="'Address'">
    </app-input>
  </div>

  <div class="w__350 d__inline-flex d__flex--justify-between d__flex--items-center m__right--10 m__bottom--10">
    <span class="text text__sm text__bold text__uppercase">Phone</span>
    <app-phone-regex
      [type]="'inner'"
      formControlName="phone"
      [placeholder]="'Phone'">
    </app-phone-regex>
  </div>
</div>

<div class="text__right">
  <app-button [type]="'transparent'" [text]="'Cancel'" (buttonClick)="onCancelClick()"></app-button>
  <app-button [text]="'Save'" (buttonClick)="onSaveClick()"></app-button>
</div>

