<div class="chat__sidebar">
  <div class="chat__sidebar__search">
    <app-input
      [placeholder]="'Search'"
      [formControl]="searchFC"
      [attr.disabled]="!chat.conversations.loading && !chat.conversations.data.length"
    >
      <i class="search"></i>
    </app-input>
  </div>
  <ul class="chat__sidebar__rooms">
    <!--  -->
    <li class="chat__sidebar__rooms__room chat__sidebar__rooms__room--empty" *ngIf="!chat.conversations.data.length">
      <div class="chat__sidebar__rooms__room--empty__message" *ngIf="searchFC.value.length === 0">You have no conversations yet</div>
      <div class="chat__sidebar__rooms__room--empty__message" *ngIf="searchFC.value.length > 0">Nothing found :(</div>
    </li>

    <!-- Conversation markup -->
    <ng-container *ngFor="let conv of chat.conversations.data">
      <li class="chat__sidebar__rooms__room" *ngIf="conv.messages.total > 0" (click)="onConversationClick(conv.id)">
        <div [ngClass]="{ 'chat__sidebar__rooms__room__avatar': true, 'online': isConversationPartnerOnline(conv) }">
          <img *ngIf="getConversationPartners(conv)[0].user.photo" [src]="getConversationPartners(conv)[0].user.photo" alt="Avatar">
        </div>
        <div class="chat__sidebar__rooms__room__meta">
          <div class="chat__sidebar__rooms__room__meta__name">{{ getConversationPartnerName(conv) }}</div>
          <div class="chat__sidebar__rooms__room__meta__counter chat--new-message">{{ conv.messages.unread }}</div>
          <div class="chat__sidebar__rooms__room__meta__indicator">
            <i class="email email-yellow" *ngIf="conv.messages.unread > 0"></i>
            <i class="email email-yellow-open" *ngIf="conv.messages.unread === 0"></i>
          </div>
          <div class="chat__sidebar__rooms__room__meta__time">11:59 AM</div>
        </div>
        <div class="chat__sidebar__rooms__room__cut">Lorem ipsum dolor sit amet / consectetur adipiscing elit / sed do eiusmod</div>
      </li>
    </ng-container>

    <!-- Loader shows only during first loadging or conversation searching -->
    <li class="chat__sidebar__rooms__room chat__sidebar__rooms__room--empty" *ngIf="chat.conversations.loading">
      <div class="chat__sidebar__rooms__room--empty__message"><i class="loader"></i></div>
    </li>
  </ul>
</div>
