<div [formGroup]="form">
  <div class="w__350 d__inline-flex d__flex--justify-between d__flex--items-center m__right--10 m__bottom--10">
    <span class="text text__sm text__bold text__uppercase">First Name</span>
    <app-input [type]="'inner'" formControlName="firstName" [placeholder]="'First Name'" ></app-input>
  </div>

  <div class="w__350 d__inline-flex d__flex--justify-between d__flex--items-center m__right--10 m__bottom--10">
    <span class="text text__sm text__bold text__uppercase">Last Name</span>
    <app-input [type]="'inner'" formControlName="lastName" [placeholder]="'Last Name'" ></app-input>
  </div>

  <div class="w__350 d__inline-flex d__flex--justify-between d__flex--items-center m__right--10 m__bottom--10">
    <span class="text text__sm text__bold text__uppercase">Email</span>
    <app-input [type]="'inner'" formControlName="email" [placeholder]="'Email'" [value]="form.get('email').value"></app-input>
  </div>

  <div (clickOutside)="hideTimezone()" class="w__350 pos__relative d__inline-flex d__flex--justify-between d__flex--items-center m__right--10 m__bottom--10">
    <span class="text text__sm text__bold text__uppercase">Time Zone</span>
    <app-input (onFocusField)="showTimezone()" [type]="'inner'" formControlName="timezone" [placeholder]="'Time Zone'" [value]="form.get('timezone').value"></app-input>
    <app-timezone [show]="isTimezoneShown" [formGroup]="form" (filteredTimezones)="showTimezone()" (selectedTimezone)="setTimezone($event)"></app-timezone>
  </div>

  <div class="w__350 d__inline-flex d__flex--justify-between d__flex--items-center m__right--10 m__bottom--10">
    <span class="text text__sm text__bold text__uppercase">Address</span>
    <app-input [type]="'inner'" formControlName="address" [placeholder]="'Address'" [value]="form.get('address').value"></app-input>
  </div>

  <div class="w__350 d__inline-flex d__flex--justify-between d__flex--items-center m__right--10 m__bottom--10">
    <span class="text text__sm text__bold text__uppercase">Phone</span>
    <div class="d__flex d__flex--direction-column">
      <app-input [type]="'inner'" formControlName="phone" [placeholder]="'Phone'" [value]="form.get('phone').value"></app-input>
      <div class="m__top--10" *ngIf="form.get('phone').invalid && form.get('phone').dirty">
        <span *ngIf="form.get('phone').errors.required" class="text text__color--2 text__sm">Field is required</span>
        <span *ngIf="form.get('phone').errors.pattern" class="text text__color--2 text__sm">Invalid phone format</span>
      </div>
    </div>
  </div>

</div>

<div class="text__right">
  <app-button [type]="'transparent'" [text]="'Cancel'" (buttonClick)="cancelChanges()"></app-button>
  <app-button [text]="'Save'" (buttonClick)="saveChanges()"></app-button>
</div>
