<div [formGroup]="form">

  <div class="w__320 d__inline-flex d__flex--justify-between d__flex--items-center m__right--30 m__bottom--10"
       (clickOutside)="hideTimezone()">
    <mat-icon svgIcon="contact-info"></mat-icon>
    <span class="text text__sm text__bold text__uppercase">TIME ZONE</span>

    <app-input (onFocusField)="showTimezone()"
               class="timezone-input"
               [type]="'inner'"
               formControlName="timezone"
               [placeholder]="'Time Zone'"
               [value]="form.get('timezone').value"></app-input>

    <app-timezone *ngIf="isPopupShown"
                  (ngModelChange)="hideTimezone()"
                  [currentTimezone]="form.get('timezone').value"
                  formControlName="timezone"></app-timezone>
  </div>

  <div class="w__320 d__inline-flex d__flex--justify-between d__flex--items-center m__right--30 m__bottom--10">
    <mat-icon svgIcon="location"></mat-icon>
    <span class="text text__sm text__bold text__uppercase">ADDRESS</span>

    <app-address formControlName="address"
                 [currentAddress]="form.get('address').value"></app-address>
  </div>

  <div class="w__320 d__inline-flex d__flex--justify-between d__flex--items-center m__right--30 m__bottom--10">
    <mat-icon svgIcon="phone"></mat-icon>
    <span class="text text__sm text__bold text__uppercase">PHONE</span>

    <app-input [type]="'inner'"
               formControlName="phone"
               [placeholder]="'Phone'"
               [value]="form.get('phone').value"></app-input>
  </div>
</div>

<div class="text__right">
  <app-button [type]="'transparent'" [text]="'Cancel'" (buttonClick)="onCancelLocationClick()"></app-button>
  <app-button [text]="'Save'" (buttonClick)="onSaveLocationClick()"></app-button>
</div>
