@import '~assets/scss/variables';

.timezone {
  width: 232px;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  top: 40px;
  left: 118px;
  max-height: 200px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);;
  background: $color-3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid $color-4;
  z-index: 1;
}
