<i class="logo-preview-2 cursor__pointer" routerLink="/landing"></i>

<div class="d__flex d__flex--items-center">
    <a class="text text__fw--300 text__color--3 text__xlg text__decoration--none m__right--20" href="">Services</a>
    <span class="m__right--20 text__color--2 text__xxlg">|</span>

    <a class="text text__fw--300 text__color--3 text__xlg text__decoration--none m__right--20" href="">Specialists</a>
    <span class="m__right--20 text__color--2 text__xxlg">|</span>

    <a class="text text__fw--300 text__color--3 text__xlg text__decoration--none m__right--20" href="">Projects</a>
    <span class="m__right--20 text__color--2 text__xxlg">|</span>

    <a class="text text__fw--300 text__color--3 text__xlg text__decoration--none" href="">Question-answer</a>
</div>

<div class="d__flex d__flex--items-center">
  <a class="m__right--20 text text__decoration--none text__fw--300 text__xlg text__color--5" routerLink="/auth/login">Sign in</a>
  <a class="registration-btn text text__decoration--none text__fw--300 text__xlg text__color--5" routerLink="/auth/signup">Sign up</a>
</div>

