@import '~assets/scss/variables';

:host {
  height: 80px;
  background-color: $color-1;
  padding: 15px 125px;
  display: flex;
  justify-content: space-between;
  position: relative;

  @media(max-width: 1150px) {
    padding: 15px 50px;
  }
}

.registration-btn {
  padding: 12px 20px;
  border-radius: 50px;
  display: block;
  border: 1px solid $text-color-5;
}

::ng-deep.mat-icon {
  color: #fff;
}

.visible {
    display: none;
}

@media screen and (max-width: 1024px) {

  :host {
    padding: 15px 15px;
  }

  .header-items {
    display: none;
  }

  .burger-menu {
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-btn {
    display: none;
  }

  .registration-btn {
    display: none;
  }

  .visible {
    display: block;
  }
}

@media screen and (max-width: 950px) {

  :host {
    padding: 15px 15px;
  }

  .login-btn {
    display: none;
  }

  .registration-btn {
    display: none;
  }
}


@media screen and (max-width: 500px) {

  :host {
    padding: 15px 10px;
  }
}
