<div class="dialog-header">
  <span class="text text__lg text__color--3 text__uppercase">Change password</span>
  <mat-icon svgIcon="close" class="cursor__pointer" mat-dialog-close></mat-icon>
</div>

<div class="p__20" [formGroup]="form">
  <div>
    <span class="text text__sm text__color--6 text__fw--600">Old password</span>
    <app-input class="m__top--10" formControlName="oldPassword" [placeholder]="'Old password'"></app-input>
  </div>

  <div class="m__top--20">
    <span class="text text__sm text__color--6 text__fw--600 m__top--20">New password</span>
    <app-input class="m__top--10" formControlName="password" [placeholder]="'New password'"></app-input>
  </div>

  <div class="m__top--20">
    <span class="text text__sm text__color--6 text__fw--600">Confirm new password</span>
    <app-input class="m__top--10" formControlName="confirmPassword" [placeholder]="'Confirm new password'"></app-input>
  </div>

  <span *ngIf="errorMessage" class="error text text__md text__color--2 m__top--25">
    {{ errorMessage }}
  </span>

  <div class="text__center m__top--50">
    <app-button [type]="'transparent'" [text]="'Cancel'" mat-dialog-close></app-button>
    <app-button [text]="'Save'" (buttonClick)="closeDialog()"></app-button>
  </div>
</div>
