@import '~assets/scss/variables';

:host {
  cursor: pointer;
}

.container {
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.24);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.options {
  background-color: $color-6;
  padding-bottom: 10px;
  span:hover {
    color: $color-2-hover;
  }
}

.border {
  width: 236px;
  height: 1px;
  background: $text-color-6;
}

.is-active-item{
  color: $color-2-active;
  font-weight: 700;
}

.conteiner-alert{
  line-height: 25px;
  height: 25px;
  padding-left: 15px;
  color: $text-color-2;
  font-weight: 400;
}
