<div class="container d__flex d__flex--items-center p__15" cdkOverlayOrigin #origin="cdkOverlayOrigin">
  <span class="text__color--6 text__sm">{{ value }}</span>
  <img class="m__left--auto" src="assets/icons/arrow.svg" alt="arrow">
</div>
<div class="text__md conteiner-alert"><small *ngIf="overlayUntouched">Please, enter required data</small></div>

<ng-template
  cdkConnectedOverlay
  (attach)="touchedOverlay()"
  (overlayOutsideClick)="closeOverlay()"
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="isExpand"
  [cdkConnectedOverlayWidth]="'594px'"
>
  <div class="options w__100per">
    <div class="d__flex d__flex--direction-column d__flex--items-center" *ngFor="let item of options; let last = last">
      <span (click)="select(item)" class="d__block m__top--10 cursor__pointer " [class.is-active-item]="item === value">{{ item }}</span>
      <div class="border m__top--10" *ngIf="!last"></div>
    </div>
  </div>
</ng-template>

