<div class="w__100per d__flex d__flex--wrap d__flex--justify-center d__flex--items-center">
    <i class="logo-preview-3 m__right--50 cursor__pointer" routerLink="/landing"></i>
    <ul class="m__right--50 text__xxlg p__0">
        <li>
            <a class="text text__decoration--none text__fw--300 text__uppercase text__color--3" href="">services</a>
        </li>
        <li class="m__top--20">
            <a class="text text__decoration--none text__fw--300 text__uppercase text__color--3" href="">Specialists</a>
        </li>
        <li class="m__top--20">
            <a class="text text__decoration--none text__fw--300 text__uppercase text__color--3" href="">Projects</a>
        </li>
        <li class="m__top--20">
            <a class="text text__decoration--none text__fw--300 text__uppercase text__color--3" href="">Question-answer</a>
        </li>
    </ul>
    <ul class="text__xxlg m__right--50 p__0">
        <li>
            <a class="text text__decoration--none text__fw--300 text__uppercase text__color--3" href="">How to make money on ITOP1000</a>
        </li>
        <li class="m__top--20">
            <a class="text text__decoration--none text__fw--300 text__uppercase text__color--3" href="">Terms of use</a>
        </li>
        <li class="m__top--20">
            <a class="text text__decoration--none text__fw--300 text__uppercase text__color--3" href="">Privacy policy</a>
        </li>
        <li class="m__top--20">
            <a class="text text__decoration--none text__fw--300 text__uppercase text__color--3" href="">Support service</a>
        </li>
    </ul>
    <div class="right d__flex d__flex--items-center">
        <div class="footer-line m__right--50 h__180"></div>
        <div class="w__210 d__flex d__flex--direction-column d__flex--items-center">
            <div class="w__100per d__flex d__flex--justify-between">
                <div class="outline d__flex d__flex--justify-center d__flex--items-center">
                    <a href=""><i class="facebook"></i></a>
                </div>
                <div class="outline d__flex d__flex--justify-center d__flex--items-center">
                    <a href=""><i class="instagram"></i></a>
                </div>
                <div class="outline d__flex d__flex--justify-center d__flex--items-center">
                    <a href=""><i class="linkedin"></i></a>
                </div>
            </div>
            <div class="d__flex d__flex--items-center text text__xxlg m__top--50">
                <a href="" class="m__right--5 text text__uppercase text__decoration--none text__fw--300 text__color--5">client</a>
                <span class="m__right--5 text text__color--10">|</span>
                <a href="" class="text text__uppercase text__decoration--none text__fw--300 text__color--8">Freelancer</a>
            </div>
        </div>
    </div>
</div>
