<i class="logo-preview-2 cursor__pointer" routerLink="profile"></i>

<ng-container *ngrxLet="userInfo$ as userInfo">
  <div class="w__350">
    <app-input (enterKey)="onSearch()" [placeholder]="userInfo.role === UserRole.Client ? SearchFor.SearchForDeveloper : SearchFor.SearchForJob" [formControl]="searchTerm">
      <i class="search" (click)="onSearch()"></i>
    </app-input>
  </div>

  <div class="d__flex">
    <div class="bell-button d__flex d__flex--items-center m__right--30">
      <i class="bell cursor__pointer" (click)="isNotificationsOpen = !isNotificationsOpen"></i>
    </div>

    <app-notifications-popup [@opacityInOut]="{value: ':enter', params: {from: 60, to: 80}}" *ngIf="isNotificationsOpen"></app-notifications-popup>

    <div class="photo-preview with-chevron cursor__pointer" [style.backgroundImage]="userInfo.photo ? 'url(' + userInfo?.photo + ')' : 'none'" (click)="togglePopup()"></div>

    <div [@opacityInOut]="{value: ':enter', params: {from: 85, to: 90}}" class="logout-popup" *ngIf="isPopupOpen">
      <div class="d__flex d__flex--items-center">
        <div class="photo-preview m__right--10" [style.backgroundImage]="userInfo.photo ? 'url(' + userInfo.photo + ')' : 'none'"></div>
        <div class="d__flex d__flex--direction-column">
          <span class="text text__lg text__fw--500 text__color--1">{{ userInfo.firstName }} {{ userInfo.lastName }}</span>
          <span class="text text__sm text__color--6">{{ userInfo.email }}</span>
        </div>
      </div>

      <div class="separator m__top--10"></div>

      <div class="m__top--10 text__right">
        <span class="text text__color--2 text__md text__fw--500 text__uppercase cursor__pointer" (click)="logout()">log out</span>
      </div>
    </div>
  </div>

</ng-container>
