@import 'src/assets/scss/variables';

ul {
  padding: 0;
  list-style: none;
  li {
    padding: 20px 0;
    margin-left: 45px;
    cursor: pointer;
  }
}

.active {
  color: $color-2;
}

.active-menu-item {
  margin: 0 auto;
  border: 0.5px solid $color-3;
  border-left: 3px solid $color-2;
}
