<div [formGroup]="form">
  <div (clickOutside)="hideTimezone()" class="w__320 d__inline-flex d__flex--justify-between d__flex--items-center m__right--30 m__bottom--10">
    <i class="contact-info contact-info-gray"></i>
    <span class="text text__sm text__bold text__uppercase">TIME ZONE</span>
    <app-input (onFocusField)="showTimezone()" [type]="'inner'" formControlName="timezone" [placeholder]="'Time Zone'" [value]="form.get('timezone').value"></app-input>
    <app-timezone [show]="isTimezoneShown" [formGroup]="form" (filteredTimezones)="showTimezone()" (selectedTimezone)="setTimezone($event)"></app-timezone>
  </div>

  <div class="w__320 d__inline-flex d__flex--justify-between d__flex--items-center m__right--30 m__bottom--10">
    <i class="location location-gray"></i>
    <span class="text text__sm text__bold text__uppercase">ADDRESS</span>
    <app-input [type]="'inner'" formControlName="address" [placeholder]="'Address'" [value]="form.get('address').value"></app-input>
  </div>

  <div class="w__320 d__inline-flex d__flex--justify-between d__flex--items-center m__right--30 m__bottom--10">
    <i class="phone phone-gray"></i>
    <span class="text text__sm text__bold text__uppercase">PHONE</span>
    <app-input [type]="'inner'" formControlName="phone" [placeholder]="'Phone'" [value]="form.get('phone').value"></app-input>
  </div>
</div>

<div class="text__right">
  <app-button [type]="'transparent'" [text]="'Cancel'" (buttonClick)="cancelChanges()"></app-button>
  <app-button [text]="'Save'" (buttonClick)="saveChanges()"></app-button>
</div>
