<div class="dev-project-card d__flex d__flex--direction-column p__15">
  <i class="edit cursor__pointer m--5" (click)="onEditClick()"></i>
  <ng-container *ngIf="!isEdit">
        <div class="d__flex d__flex d__flex--direction-column">
          <app-project-card class="m__right--10" [project]="project"></app-project-card>
        </div>
  </ng-container>

  <div [formGroup]="form" *ngIf="isEdit">

    <div class="m__bottom--10 d__flex d__flex--justify-between">
      <div class="profile-photo-wrap" (click)="openUploadPhotoDialog(true)">
        <i class="profile-photo" *ngIf="!logoUrl"></i>
        <i class="plus" *ngIf="!logoUrl"></i>
        <img class="cursor__pointer" [src]=logoUrl alt="projectImageUrl" *ngIf="logoUrl">
      </div>

      <div class="m__bottom--10">
        <div class="profile-photo-wrap">
          <div *ngIf="!projectImages || projectImages.length === 0" (click)="openUploadPhotoDialog(false)">
          <i class="profile-photo" ></i>
          </div>
          <div *ngFor="let image of projectImages; index as i">
          <img class="cursor__pointer"
               [src]=image alt="projectImage"
               (click)="openUploadPhotoDialog(false, i)"
               *ngIf="image"
               >
          </div>
          <i class="plus" (click)="openUploadPhotoDialog(false)"></i>
        </div>
      </div>
    </div>

    <div class="d__inline-flex d__flex--justify-between d__flex--items-center m__right--30 m__bottom--10">
      <span class="text text__sm text__bold text__uppercase m__right--10">Title</span>
      <app-input
        [type]="'inner'"
        formControlName="title"
        [placeholder]="'Title'">
      </app-input>
    </div>

    <div class="d__inline-flex d__flex--justify-between d__flex--items-center m__right--30 m__bottom--10">
      <span class="text text__sm text__bold text__uppercase m__right--10">Description</span>
      <app-input
        [type]="'inner'"
        formControlName="description"
        [placeholder]="'Description'">
      </app-input>
    </div>

    <div class="d__inline-flex d__flex--justify-between d__flex--items-center m__right--30 m__bottom--10">
      <span class="text text__sm text__bold text__uppercase m__right--10">Link</span>
      <app-input
        [type]="'inner'"
        formControlName="link"
        [placeholder]="'Link'">
      </app-input>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <input matInput formControlName="from" [placeholder]="'From'" [matDatepicker]="pickerFrom">
        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker #pickerFrom></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput formControlName="to" [placeholder]="'To'" [matDatepicker]="pickerTo">
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>
    </div>
    <app-drop-down-list [isEdit]="true" dataName="Skills" controllerName="technologies" [parent]="form"  [placeholder]="'Add Technologies...'"></app-drop-down-list>
  </div>

  <div class="text__right" *ngIf="isEdit">
    <app-button [type]="'transparent'" [text]="'Cancel'" (buttonClick)="onEditClick()"></app-button>
    <app-button [text]="'Save'" (buttonClick)="onSaveClick()"></app-button>
  </div>
</div>
