<h3 class="job__header text__color--3">Now just finish and review your job post</h3>
<div [formGroup]="form">
  <div class="d__flex d__flex--direction-column m__bottom--60">
    <span class="text text__lg text__color--3 text__fw--600">Headline</span>
    <app-input class="m__top--10 w__50per" [type]="'inner'" [placeholder]="'Job Title'" formControlName="title"></app-input>
    <mat-error *ngIf="showError && form.get('title').errors?.required">Title required</mat-error>
  </div>

  <div class="d__flex d__flex--direction-column m__bottom--50">
    <span class="text text__lg text__color--3 text__fw--600 m__bottom--20">Describe your job</span>
    <span class="text text__md text__color--3">This is how talent figures out what you need and why you are great to work with! <br><br>
Include your expectations about the task or deliverable, what you are looking for in a work relationship, and anything unique about your project,
team ,or company. <a class="text__color--5"> Here are several examples </a>that illustrate best practices for effective job posts.</span>
  </div>

  <div class="d__flex d__flex--direction-column m__top--20 m__bottom--30">
    <app-textarea class="m__top--10" [placeholder]="'Already have a job description? Paste it here!'" formControlName="description"></app-textarea>
    <mat-error *ngIf="showError && form.get('description').errors?.required">Description required</mat-error>
  </div>
  <div class="d__flex m__bottom--80">
    <div class="job__icon m__right--20">
      <i class="warning-icon-black"></i>
    </div>
    <span class="text text__lg text__color--5 m__top--5">Please add a job description.</span>
  </div>
  <div class="example-2 d__flex d__flex--direction-column m__bottom--60">
    <div class="form-group m__bottom--20">
      <input formControlName="file" type="file" name="file" id="file" class="input-file">
      <label for="file" class="btn btn-tertiary js-labelFile">
        <i class="upload-icon"></i>
        <span class="js-fileName">Attach Files</span>
      </label>
    </div>
    <div class="subtext text text__sm text__color--6">Max file size: 100 mb</div>
  </div>
  <div class="d__flex m__bottom--50 job__properties">
    <div class="item w__40per m__right--80">
      <div class="d__flex d__flex--direction-column">
        <h4 class="text text__lg text__color--3 text__fw--600 m__bottom--20">Skills</h4>
        <div class="d__flex">
          <div class="badges d__flex">
            <div class="badge text text__sm">Javascript</div>
            <div class="badge text text__sm">Typescript</div>
            <div class="badge text text__sm">HTML5</div>
            <div class="badge text text__sm">AngularJS</div>
            <div class="badge text text__sm">Angular 10</div>
            <div class="badge text text__sm">Angular 7</div>
            <div class="badge text text__sm">Angular 8</div>
            <div class="badge text text__sm">Angular 2+</div>
            <div class="badge text text__sm">Angular 9</div>
            <div class="badge text text__sm">CSS3</div>
          </div>
          <i class="edit cursor__pointer"></i>
        </div>
      </div>
    </div>
    <div class="item w__40per m__right--20">
      <h4 class="text text__lg text__color--3 text__fw--600 m__bottom--20">Scope</h4>
      <div class="d__flex">
        <span class="text text__sm text__color--6 text__fw--300 m__right--20 m__top--10">Large, more  than 6 months, expert level</span>
        <i class="edit cursor__pointer"></i>
      </div>
    </div>
    <div class="item w__20per m__right--20">
      <h4 class="text text__lg text__color--3 text__fw--600 m__bottom--20">Budget</h4>
      <div class="d__flex">
        <span class="text text__sm text__color--6 text__fw--300 m__right--80 m__top--10">
          <span class="text text__sm text__color--5">$ </span>200.00
        </span>
        <i class="edit cursor__pointer"></i>
      </div>
    </div>
  </div>
  <div class="d__flex d__flex--direction-column">
    <mat-form-field appearance="fill">
      <mat-label>Screening questions (optional)</mat-label>
      <mat-select (selectionChange)="onSelect($event)">
        <mat-option value="First Question">Hourly based</mat-option>
        <mat-option value="Second Question">Month based</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error *ngIf="showError && form.get('contractType').errors?.required">Contract type required</mat-error>
  </div>

  <div class="d__flex d__flex--direction-column job__preferences m__bottom--90">
    <h4 class="text text__lg text__color--3 text__fw--400">Advanced preferences (optional)</h4>
    <span class="text text__sm text__color--6 text__fw--400">Hours per week, hire date, and more</span>
    <mat-form-field appearance="fill">
      <textarea matInput
                formControlName="preferences"
                cdkAutosizeMinRows="0"></textarea>
    </mat-form-field>
    <button class="job__preferences-save">Save as a draft</button>
  </div>
</div>

<div class="m__top--10 text__center m__bottom--50">
  <app-button [type]="'transparent-gold'" [text]="'Back'" (buttonClick)="onCancelClick()"></app-button>
  <app-button [text]="'Post your job now'" (buttonClick)="onPostClick()"></app-button>
</div>

