@import 'assets/scss/variables';

:host {
  height: calc(100% - 160px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px 10% 0;
  background: url("~assets/img/search-bg.png");
}

.project-wrap {
  padding: 30px 5% 0;
  width: 100%;
  height: 100%;
  background: $color-1;
}

.section-underline {
  width: 65px;
  height: 4px;
  background-color: $color-2;
}
