<div class="project-wrap d__flex d__flex--direction-column">
  <div>
    <span class="text__center text__color--3 text__font--2 text__uppercase">{{project.title}}</span>
    <div class="section-underline m__top--10">
  </div>
  <div class="m__top--30">
    <span class="text text__color--3 text__sm text__uppercase m__right--10"
          *ngFor="let technology of project.technologies">
      {{technology.name}}
    </span>
  </div>
  <div class="m__top--30">
    <span class="text text__color--3 text__lg m__top--10">{{project.description}}</span>
  </div>
  <div class="m__top--30">
    <span class="text__color--5 text__font--2">{{project.link}}</span>
  </div>
  <div class="m__top--60">
    <img src="{{project.logo}}" alt="project.link">
  </div>
</div>


