<app-landing-title class="m__top--60"
                   title="Find world-class companies with exciting projects"
                   subtitle="Convert your special skills into money instantly"
                   btnTitle="Discover Projects">
</app-landing-title>

<app-landing-separator class="w__100per m__top--100"></app-landing-separator>

<app-landing-benefits class="m__top--100" type="freelancer"></app-landing-benefits>

<app-landing-separator class="w__100per m__top--100"></app-landing-separator>

<app-landing-guide></app-landing-guide>

<app-landing-separator class="w__100per m__top--100"></app-landing-separator>
