:host {
  height: calc(100% - 160px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: scroll;
  padding: 20px 12.5% 0;
  background: url("~assets/img/search-bg.png");
}
