<div class="container" *ngrxLet="userInfo$ as user">
  <i class="sidenav-photo"></i>
  <div class="profile-name">
    <span>{{user.firstName}} </span><span>{{user.lastName}}</span>
  </div>
  <div class="developer-id">{{user.id}}</div>
  <div class="profile-email">{{user.email}}</div>
  <div class="profile-price">	<span>$</span><span>40.00</span>/<span>hr</span></div>
  <div class="gray-line"></div>
  <button class="profile-settings-btn">Profile settings</button>
  <span class="close-account-btn">Close account</span>
</div>
