@import '~assets/scss/variables.scss';

:host {
  display: block;
  height: calc(100% - 80px);
  font-family: $font-2;
  overflow: auto;
  background: url("~assets/img/search-bg.png");
}

.chat {
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 30% 70%;
  width: 75%;
  margin: 0 auto;
}
