<div class="chat">
  <div class="chat__message-box">
    <div class="chat__message-box__message-list">
      <div class="chat__message-box__message-list__message">
        <div class="chat__message-box__message-list__message__header">
          <img class="chat__message-box__message-list__message__header__avatar">
          <div class="chat__message-box__message-list__message__header__name">
            <span class="chat__from">Boris stelman</span> / <span class="chat__to">Oleg</span>
          </div>
        </div>
        <div class="chat__message-box__message-list__message__body">
          1. The other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized.
          <br>
          2. By the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame...http://www......../........
          <br>
          3. The other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized.
        </div>
        <div class="chat__message-box__message-list__message__time">2 Month ago</div>
      </div>

      <div class="chat__message-box__message-list__message">
        <div class="chat__message-box__message-list__message__header">
          <img class="chat__message-box__message-list__message__header__avatar">
          <div class="chat__message-box__message-list__message__header__name">
            <span class="chat__from">Oleg</span> / <span class="chat__to">Boris stelman</span>
          </div>
        </div>
        <div class="chat__message-box__message-list__message__body">
          The other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized. e denounce with righteous indignation and dislike men.
        </div>
        <div class="chat__message-box__message-list__message__time">2 Month ago</div>
      </div>
    </div>
    <div class="chat__message-box__control">
      <div class="chat__message-box__control__input">
        <app-rich-text-editor
          (shareTextContent)="onTextContent($event)"
        ></app-rich-text-editor>
      </div>
      <div class="chat__message-box__control__buttons">
        <div class="chat__message-box__control__buttons__back">
          <app-button
            (buttonClick)="onBackButtonClick()"
            [type]="'transparent'"
            [text]="'Все переписки'"
          ></app-button>
        </div>
        <div class="chat__message-box__control__buttons__send">
          <app-button
            (buttonClick)="onSendButtonClick()"
            [type]="'main'"
            [text]="'SEND'"
          ></app-button>
        </div>
      </div>
    </div>
  </div>
</div>