@import '~assets/scss/variables.scss';

:host {
  font-family: $font-2, sans-serif;
  display: block;
  height: calc(100% - 80px);
  overflow: auto;
  background: url("~assets/img/search-bg.png");
}

.chat {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 30% 70%;
  width: 75%;
  height: 100%;
  margin: 0 auto;
}
