<div class="redline"></div>
<div class="container">
  <div class="client-freelancer">
    <a href="" class="client">client</a>
    <span>|</span>
    <a href="" class="freelancer">Freelancer</a>
  </div>
  <div class="search-container">
    <input class="search-services" type="text" placeholder="Search service">
    <img src="../../../../assets/icons/search.svg" alt="search">
  </div>
  <h1 class="title">Find quality freelancers for development</h1>
  <button class="find-btn">Find a performer</button>
  <div class="line"></div>
  <div class="circles"> 
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
  </div>
  <div class="advantages">
    <h2 class="advantages-title">Advantages</h2>
    <h2 class="ITOP">ITOP</h2>
    <h2 class="1000">1000</h2>
  </div>
  <div class="advantage-items">
    <div class="advantage-item">
      <div class="outline">
        <div class="img"></div>
      </div>
      <h3 class="advantage-title">Advantage</h3>
      <p class="advantage-description">
        But I must explain to you how all this mistaken idea of denouncing
        pleasure and praising pain was born and I will give you a complete
        account of the system, and expound the actual teachings
        of the great explorer of the truth
      </p>
    </div>

    <div class="advantage-item">
      <div class="outline">
        <div class="img"></div>
      </div>
      <h3 class="advantage-title">Advantage</h3>
      <p class="advantage-description">
        But I must explain to you how all this mistaken idea of denouncing
        pleasure and praising pain was born and I will give you a complete
        account of the system, and expound the actual teachings
        of the great explorer of the truth
      </p>
    </div>

    <div class="advantage-item">
      <div class="outline">
        <div class="img"></div>
      </div>
      <h3 class="advantage-title">Advantage</h3>
      <p class="advantage-description">
        But I must explain to you how all this mistaken idea of denouncing
        pleasure and praising pain was born and I will give you a complete
        account of the system, and expound the actual teachings
        of the great explorer of the truth
      </p>
    </div>
  </div>

  <div class="line"></div>
  <div class="circles"> 
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
  </div>

  <h1 class="howitworks-title">How it works</h1>
  <div class="list-wraper">
    <ol class="howitworks-list">
      <li class="list-item">But I must explain to you how all this mistaken idea of denouncing pleasure</li>
      <li class="list-item">But I must explain to you how all this mistaken idea of denouncing pleasure mistaken idea of denouncing</li>
      <li class="list-item">But I must explain to you how all this mistaken idea of denouncing pleasure</li>
    </ol>
  </div>
  
  <div class="line"></div>
  <div class="circles"> 
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
  </div>

  <h1 class="specealists-title">Specealist</h1>
  <div class="specialists-container">
    <div class="specealist-container">
      <div class="photo"></div>
      <a href="" class="name">Name <br> Surname</a>
      <span>$40.00/hr</span>
    </div>
    <div class="specealist-container">
      <div class="photo"></div>
      <a href="" class="name">Name <br> Surname</a>
      <span>$40.00/hr</span>
    </div>
    <div class="specealist-container">
      <div class="photo"></div>
      <a href="" class="name">Name <br> Surname</a>
      <span>$40.00/hr</span>
    </div>
    <div class="specealist-container">
      <div class="photo"></div>
      <a href="" class="name">Name <br> Surname</a>
      <span>$40.00/hr</span>
    </div>
    <div class="specealist-container">
      <div class="photo"></div>
      <a href="" class="name">Name <br> Surname</a>
      <span>$40.00/hr</span>
    </div>
    <div class="specealist-container">
      <div class="photo"></div>
      <a href="" class="name">Name <br> Surname</a>
      <span>$40.00/hr</span>
    </div>
    <div class="specealist-container">
      <div class="photo"></div>
      <a href="" class="name">Name <br> Surname</a>
      <span>$40.00/hr</span>
    </div>
  </div>

  <a class="seeAll" href="">See all specialists</a>

  <div class="line"></div>
  <div class="circles"> 
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
  </div>
  
  <h2 class="ourProjects-title">Our projects</h2>

  <div class="projects-container">
    <div class="project-item"></div>
    <div class="project-item"></div>
    <div class="project-item"></div>
    <div class="project-item"></div>
    <div class="project-item"></div>
  </div>

  <a class="seeAll" href="">See all projects</a>

  <div class="line"></div>
  <div class="circles"> 
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
    <div class="inner-circle">
      <div class="circle"></div>
    </div>
  </div>

  <div class="desc-title">
    <h2 class="itop1000">itop1000</h2>
    <h2 class="desc">– is an amazingly user-friendly freelance platform that includes:</h2>
  </div>
  
  <div class="wraper">
    <div class="client-block">
      <h3 class="client-title">Client</h3>
      <p class="client-text">
        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure
      </p>
    </div>
    <div class="freelancer-block">
      <h3 class="freelancer-title">Freelancer</h3>
      <p class="freelancer-text">
        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure
      </p>
    </div>
  </div>

</div>
<div class="redline"></div>