@import '~assets/scss/variables';

.notify-email {
  background: $bg-color-opacity;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  user-select: none;
}
.label{
  align-self: flex-start;
}
