<app-auth-container [backgroundImageSearch]="true">
  <div class="text__color--3 text__center w__594 d__flex d__flex--direction-column d__flex--items-center">
     <h2 class="text__color--3 text__font--2 text__fw--500 text__center m__top--45 text__xxlg text__uppercase text__lh--24 title-notify">
      get help signing in
     </h2>
     <p class="text__color--3 text__font--2 text__fw--300 text__center text__lh--24 m--0 m__bottom--50 text__md">For your security, we need to make sure it is really you. <br> How do you want us to contact you?</p>
     <small class="label m__bottom--10">Email</small>
     <ng-container *ngrxLet="userInfo$; let userEmail; let err = $error">
       <p *ngIf="userEmail; else errEmail" class="notify-email pos__relative d__block p__15 w__100per h__100p m--0 m__bottom--50 text__lh--24">We shall email you at {{ userEmail | blurEmail }} with a link</p>
       <ng-template #errEmail>
         <p class="notify-email pos__relative d__block p__15 w__100per h__100p m--0 m__bottom--50 text__lh--24">Error email</p>
        </ng-template>
     </ng-container>
     <app-button (buttonClick)="handleClickButton()" [text]="'Receive email'" [type]="'main'"></app-button>
  </div>
</app-auth-container>
