@import '~assets/scss/variables';

.notify-email {
  position: relative;
  display: block;
  padding: 15px 20px 13px;
  width: 100%;

  background: $bg-color-opacity;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);

  pointer-events: none;
  user-select: none;
}

.title-notify {
  line-height: 24px;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.p {
  letter-spacing: 0em;

  &__confirm {
    line-height: 24px;
    margin: 0 0 50px 0;
  }

  &__text {
    line-height: 24px;
  }

  &__link {
    line-height: 24px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
