<app-auth-container [backgroundImageSearch]="true">
  <div class="text__color--3 text__center w__594 d__flex d__flex--direction-column d__flex--items-center">
     <h2 class="text__color--3 text__font--2 text__fw--500 text__center m__top--45 text__xxlg title-notify">
      get help signing in
     </h2>
     <p class="text__color--3 text__font--2 text__fw--300 text__center p__confirm text__md">For your security, we need to make sure it is really you. <br> How do you want us to contact you?</p>
     <p *ngrxLet="userInfo$; let userEmail" class="notify-email">We shall email you at {{ blurEmailUtility(userEmail) }} with a link</p>
     <app-button (buttonClick)="handleClickButton()" [text]="'Receive email'" [type]="'main'"></app-button>
  </div>
</app-auth-container>
