<div class="d__inline-flex d__flex--direction-column d__flex--items-center m__right--30">
  <i class="contact-info contact-info-gray"></i>
  <span class="text tet__lg text__bold text__uppercase text__color--1 m__top--10"> time zone </span>
  <span class="text tet__lg text__color--1 m__top--10 text__center"> {{ userInfo.timezone }} </span>
</div>

<div class="d__inline-flex d__flex--direction-column d__flex--items-center m__right--30">
  <i class="location location-gray"></i>
  <span class="text tet__lg text__bold text__uppercase text__color--1 m__top--10"> Address</span>
  <span class="text tet__lg text__color--1 m__top--10 text__center"> {{ userInfo.address }} </span>
</div>

<div class="d__inline-flex d__flex--direction-column d__flex--items-center">
  <i class="phone phone-gray"></i>
  <span class="text tet__lg text__bold text__uppercase text__color--1 m__top--10"> Phone </span>
  <span class="text tet__lg text__color--1 m__top--10 text__center"> {{ userInfo.phone }} </span>
</div>
