<div class="title-wrap d__flex text text__fw--700 text__x7lg text__uppercase text__font--2">
  <span class="title m__right--20">Why choose</span>
  <span class="title text__color--2">itop 1000</span>
  <span class="title">?</span>
</div>

<div *ngIf="type === 'freelancer'" class="text w__100per m__top--50 d__flex d__flex--wrap d__flex--justify-around">

  <div class="m--5 m__top--50 d__flex d__flex--items-center d__flex--direction-column">
    <div class="icon-outline d__flex d__flex--items-center d__flex--justify-center">
      <i class="certificated"></i>
    </div>
    <span class="headline m__top--20 text text__uppercase text__xxlg text__fw--500">Certified pros</span>
    <span class="description m__top--20 text text__md text__fw--300 text__center">
      Entrust your project to experts with lots of experience in their given field.
    </span>
  </div>

  <div class="m--5 m__top--50 d__flex d__flex--items-center d__flex--direction-column">
    <div class="icon-outline d__flex d__flex--items-center d__flex--justify-center">
      <i class="track"></i>
    </div>
    <span class="headline m__top--20 text text__uppercase text__xxlg text__fw--500">Track Project Status</span>
    <span class="description m__top--20 text text__md text__fw--300 text__center">
      Monitor the progress of your project. Stay in touch with
      the freelancer at all times
    </span>
  </div>

  <div class="m--5 m__top--50 d__flex d__flex--items-center d__flex--direction-column">
    <div class="icon-outline d__flex d__flex--items-center d__flex--justify-center">
      <i class="fulltime"></i>
    </div>
    <span class="headline m__top--20 text text__uppercase text__xxlg text__fw--500">24/7 Customer Service</span>
    <span class="description m__top--20 text text__md text__fw--300 text__center">
      Connect with our expert support team in case of any issues.
    </span>
  </div>

  <div class="m--5 m__top--50 d__flex d__flex--items-center d__flex--direction-column">
    <div class="icon-outline d__flex d__flex--items-center d__flex--justify-center">
      <i class="assured"></i>
    </div>
    <span class="headline m__top--20 text text__uppercase text__xxlg text__fw--500">Assured Quality</span>
    <span class="description m__top--20 text text__md text__fw--300 text__center">
      Our team focuses on rigorous screening before accepting
      any freelancers on the platform.
    </span>
  </div>

  <div class="m--5 m__top--50 d__flex d__flex--items-center d__flex--direction-column">
    <div class="icon-outline d__flex d__flex--items-center d__flex--justify-center">
      <i class="talents"></i>
    </div>
    <span class="headline m__top--20 text text__uppercase text__xxlg text__fw--500">Niche-specific talents</span>
    <span class="description m__top--20 text text__md text__fw--300 text__center">
      We only accept specialists in a specific field. This helps us to
      maintain a high bar of quality.
    </span>
  </div>

  <div class="m--5 m__top--50 d__flex d__flex--items-center d__flex--direction-column">
    <div class="icon-outline d__flex d__flex--items-center d__flex--justify-center">
      <i class="secure-payments"></i>
    </div>
    <span class="headline m__top--20 text text__uppercase text__xxlg text__fw--500">Secure Payments</span>
    <span class="description m__top--20 text text__md text__fw--300 text__center">
      All your transactions are secure. If you are not satisfied
      with the service, you can apply for a refund.
    </span>
  </div>

</div>

<div *ngIf="type === 'client'" class="w__100per m__top--50 d__flex d__flex--wrap d__flex--justify-around">

  <div class="m--5 m__top--50 d__flex d__flex--items-center d__flex--direction-column">
    <div class="icon-outline d__flex d__flex--items-center d__flex--justify-center">
      <i class="certificated"></i>
    </div>
    <span class="m__top--20 text text__uppercase text__xxlg text__fw--500">Certified Clients</span>
    <span class="description m__top--20 text text__md text__fw--300 text__center">
      We only accept job listings from certified clients.
    </span>
  </div>

  <div class="m--5 m__top--50 d__flex d__flex--items-center d__flex--direction-column">
    <div class="icon-outline d__flex d__flex--items-center d__flex--justify-center">
      <i class="easy-to-use"></i>
    </div>
    <span class="m__top--20 text text__uppercase text__xxlg text__fw--500">Easy to use</span>
    <span class="description m__top--20 text text__md text__fw--300 text__center">
      You can monitor recent projects within your niche and also
      stay in touch with the client at all times.
    </span>
  </div>

  <div class="m--5 m__top--50 d__flex d__flex--items-center d__flex--direction-column">
    <div class="icon-outline d__flex d__flex--items-center d__flex--justify-center">
      <i class="fulltime"></i>
    </div>
    <span class="m__top--20 text text__uppercase text__xxlg text__fw--500">24/7 Customer Service</span>
    <span class="description m__top--20 text text__md text__fw--300 text__center">
      Freelancers can contact our expert support team in case of any
      issues with the client.
    </span>
  </div>

  <div class="m--5 m__top--50 d__flex d__flex--items-center d__flex--direction-column">
    <div class="icon-outline d__flex d__flex--items-center d__flex--justify-center">
      <i class="secure-charges"></i>
    </div>
    <span class="m__top--20 text text__uppercase text__xxlg text__fw--500">Lowest Charges</span>
    <span class="description m__top--20 text text__md text__fw--300 text__center">
      We only charge a reasonable amount of interest per project.
    </span>
  </div>

  <div class="m--5 m__top--50 d__flex d__flex--items-center d__flex--direction-column">
    <div class="icon-outline d__flex d__flex--items-center d__flex--justify-center">
      <i class="talents"></i>
    </div>
    <span class="m__top--20 text text__uppercase text__xxlg text__fw--500">Niche-specific projects</span>
    <span class="description m__top--20 text text__md text__fw--300 text__center">
      We allow you to choose any project that falls within your specialization.
    </span>
  </div>

  <div class="m--5 m__top--50 d__flex d__flex--items-center d__flex--direction-column">
    <div class="icon-outline d__flex d__flex--items-center d__flex--justify-center">
      <i class="secure-payments"></i>
    </div>
    <span class="m__top--20 text text__uppercase text__xxlg text__fw--500">Secure Payments</span>
    <span class="description m__top--20 text text__md text__fw--300 text__center">
      All your transactions are secure. You can choose your
      preferred payout option.
    </span>
  </div>

</div>
