@import "src/assets/scss/variables";

:host {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icon-outline {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  border: 1px solid $color-5;
}

.description {
  width: 400px;
}

.title {
  @media (max-width: 1023px) {
    font-size: 40px;
  }

  @media (max-width: 767px) {
    font-size: 25px;
  }

  @media (max-width: 374px) {
    font-size: 20px;
  }
}

@media screen and (max-width: 423px){
  .text span {
    word-wrap: break-word;
    display: block;
    max-width: 300px;
  }
  .title-wrap {
      width: 330px;
  }

  .headline {
    font-size: 20px;
  }

  .description {
    font-size: 13px;
    max-width: 310px;
  }
}

@media screen and (max-width: 374px){

  .title-wrap {
    width: 300px;
    margin-left: 30px;
  }
}


@media screen and (max-width: 320px){

  .title-wrap {
    margin-left: 15px;
  }
}
