:host {
  flex: 1;
  min-height: 100vh;
  position: relative;
  padding-left: 60px;
  padding-top: 50px;
  padding-right: 120px;
  padding-bottom: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  background: $color-1;
  opacity: 0.65;
}
