
<div [@slideIn] *ngIf="section === DevProfileSections.ApprovedProjects">
  <app-dev-projects></app-dev-projects>
</div>

<div [@slideIn] *ngIf="section === DevProfileSections.Education">
  <div>This page is in develop</div>
</div>

<div [@slideIn] *ngIf="section === DevProfileSections.SoftSAndSkills">
  <div>This page is in develop</div>
</div>

<div [@slideIn] *ngIf="section === DevProfileSections.CategoriesAndSkills">
  <app-dev-categories-and-skills></app-dev-categories-and-skills>
</div>

<div [@slideIn] *ngIf="section === DevProfileSections.PasswordAndSecurity">
  <app-profile-change-password></app-profile-change-password>
</div>

<div [@slideIn] *ngIf="section === DevProfileSections.BillingAndPayments">
  <div>This page is in develop</div>
</div>

<div [@slideIn] *ngIf="section === DevProfileSections.Reviews">
  <div>This page is in develop</div>
</div>

<div [@slideIn] *ngIf="section === DevProfileSections.Employment">
  <div>This page is in develop</div>
</div>

<div [@slideIn] *ngIf="section === DevProfileSections.ExpertiseLevel">
  <div>This page is in develop</div>
</div>

<div [@slideIn] *ngIf="section === DevProfileSections.Contracts">
  <div>This page is in develop</div>
</div>

<div [@slideIn] *ngIf="section === DevProfileSections.Languages">
  <div>This page is in develop</div>
</div>

<div [@slideIn] *ngIf="section === DevProfileSections.HourlyRate">
  <div>This page is in develop</div>
</div>

<div [@slideIn] *ngIf="section === DevProfileSections.ProfilePhoto">
  <div>This page is in develop</div>
</div>

<div [@slideIn] *ngIf="section === DevProfileSections.Location">
  <div>This page is in develop</div>
</div>

<div [@slideIn] *ngIf="section === DevProfileSections.ContactInfo">
  <app-dev-contact-info></app-dev-contact-info>
</div>

<div [@slideIn] *ngIf="section === DevProfileSections.ProfileSettings">
  <app-dev-profile-settings></app-dev-profile-settings>
</div>
