<div class="d__inline-flex d__flex--direction-column d__flex--items-center m__right--30">
  <mat-icon svgIcon="user"></mat-icon>
  <span class="text tet__lg text__bold text__uppercase text__color--1 m__top--10">
    {{ userInfo.firstName }} {{ userInfo. lastName }}
  </span>
</div>

<div class="d__inline-flex d__flex--direction-column d__flex--items-center m__right--30">
  <mat-icon svgIcon="email"></mat-icon>
  <span class="text tet__lg text__bold text__uppercase text__color--1 m__top--10">
    {{ userInfo.email }}
  </span>
</div>

<div class="d__inline-flex d__flex--direction-column d__flex--items-center">
  <mat-icon svgIcon="phone"></mat-icon>
  <span class="text tet__lg text__bold text__uppercase text__color--1 m__top--10">
    {{ userInfo.phone }}
  </span>
</div>
