<div class="dialog-header">
  <span class="text text__lg text__color--3 text__uppercase">Remove payment method</span>
  <i class="close cursor__pointer" mat-dialog-close></i>
</div>

<div class="p__20 m__top--20 w__494">

  <div class="text text__color--1 text__sm text__center">
    <p>Are you sure you want to delete the payment method
      <span class="text__capitalize text__bold">{{ paymentMethod.card.brand }}</span> ending in
      <span class="text__bold">{{ paymentMethod.card.last4 }}?</span></p>
  </div>

  <div class="d__flex d__flex--justify-center text__center">
    <span *ngIf="errorMessage" class="error text text__md text__color--2 m__top--25">
      {{ errorMessage }}
    </span>
  </div>

  <div class="text__center m__top--50">
    <app-button [type]="'transparent'" [text]="'Cancel'" mat-dialog-close></app-button>
    <app-button [text]="'Confirm'" (buttonClick)="deletePaymentMethod(paymentMethod.id)"></app-button>
  </div>

</div>
