@import "~assets/scss/variables";

:host {
  margin-top: 20px;
  padding-left: 20px;
}

.chat__message-box {
  overflow: auto;
  height: 100%;

  &__header {
    display: grid;
    grid-template-columns: 1fr 200px 30px 30px;
    grid-template-rows: 50px;
    gap: 0 10px;
    grid-template-areas: ". . . .";
    padding-bottom: 20px;
    border-bottom: 1px solid $color-11;

    &__title {
      line-height: 50px;
      font-size: 30px;
      font-weight: 500;
      text-transform: uppercase;
      color: $text-color-5;
    }

    &__settings i,
    &__mark i {
      margin: 10px 0;
    }

    &__settings i {
      transition: transform .2s;

      &:hover {
        transform: rotateZ(45deg);
      }
    }
  }

  &__body {
    overflow: auto;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    border-radius: 15px;
    margin-top: 20px;
    height: calc(100% - 50px - 20px - 20px - 1px); // 85px - header, 20px - self margin, 20px - header margin, 1px - header border

    &__message-list {
      overflow: auto;
      margin: 20px 32px 0 32px;
      height: calc(100% - 202px - 50px - 40px); // 222px - control height, 50px - control paddings, 20px - self paddings

      &__message {
        & + & {
          margin-top: 25px;
        }

        &--empty {
          display: flex;
          align-items: center;
          justify-content: center;

          &__message {
            font-size: 20px;
            color: $text-color-6;
          }
        }

        &__header {
          line-height: 35px;
          height: 35px;

          &__avatar {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            background: url(~assets/icons/profile-photo.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-color: $color-8;
            float: left;
            position: relative;

            &:after {
              content: '';
              display: block;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background-color: $color-6;
              transition: background-color .2s;
              position: absolute;
              right: 0;
              bottom: 0;
            }

            &.online:after {
              background-color: $color-5;
            }
          }

          &__name {
            display: inline-block;
            margin-left: 15px;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            color: $text-color-8;

            .chat__from {
              color: $text-color-5;
            }

            .chat__to {
              color: $text-color-8;
            }
          }

          &__time {
            font-size: 12px;
            font-weight: 300;
            color: $text-color-6;
            float: right;
          }
        }

        &__body {
          margin-left: 50px;
          font-family: $font-1;
          font-weight: 200;
          font-size: 16px;
          line-height: 24px;
          color: $text-color-8;
          border-bottom: 1px solid $color-6;
        }
      }
    }

    &__control {
      margin: 25px 32px 25px 82px;
      height: 222px;
      position: relative;

      &__typing {
        position: absolute;
        top: -20px;
        color: $text-color-6;
        font-style: italic;
        transition: opacity .1s;
      }

      &__button-send {
        margin-top: 25px;
        float: right;
      }
    }
  }
}

::ng-deep {
  .chat__message-box__body__control__button-send button {
    width: 230px !important;
    height: 52px !important;
  }
}
