:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {

  @media (max-width: 767px) {
    font-size: 30px;
  }

  @media (max-width: 424px) {
    font-size: 25px;
  }

  @media (max-width: 374px) {
    font-size: 20px;
  }
}

.title-text {
  @media (max-width: 767px) {
    font-size: 20px;
    word-wrap: break-word;
    max-width: 400px;
  }

  @media (max-width: 424px) {
    font-size: 18px;
    max-width: 300px;
  }

  @media (max-width: 374px) {
    font-size: 16px;
  }
}

.title-button {
  display: flex;
  justify-content: center;

  @media (max-width: 550px) {
    width: 200px;
    height: 50px;
  }
}


