@import 'assets/scss/variables';

.content {
  display: flex;
}

.resume-nav {
  width: 300px;
  background-color: $color-1;
  vertical-align: top;
  position: sticky;
  top: 0;

  /*background-image: url(assets/icons/line-sparkl.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;*/

  img {
    max-width: 135px;
    max-height: 135px;
    border-radius: 50%;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 10px;
      cursor: pointer;

      &.active {
        padding: 9px 9px 9px 7px;
        border: 1px solid $color-4;
        border-left: 3px solid $color-2;
        cursor: default;

        span {
          font-weight: 600;
          color: $color-2;
        }
      }
    }
  }
}

.resume-content {
  display: inline-block;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: 0 2px 4px $color-1;
  width: calc(100% - 300px);
  min-height: 100%;
  border-left: 2px solid $color-5;

  .location-wrap {
    display: flex;
    align-items: center;
  }

  .separator {
    height: 1px;
    flex: 1;
    opacity: 0.5;
    background-color: $color-4;
  }

  .section-underline {
    width: 0;
    height: 4px;
    background-color: $color-2;
    transition: ease 0.3s;
  }

  .section-underline-active {
    width: 65px;
  }

  .review {
    padding: 20px;
    width: 268px;
    height: 167px;
    background-color: $bg-color-dark;
    border-radius: 10px;

    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
  }
}

.softskills {
  width: 55%;

  &__wrap {
    margin: 3rem 0;
  }

  &__skill {

    &__name {
      width: 30%;
      font-family: Work Sans;
      font-style: normal;
      line-height: 24px;
    }

    &__percent {
      @extend .softskills__skill__name;
      width: 10%;
    }
  }

  &__progressbar {
    &__full {
      display: flex;
      align-items: center;
      margin: 0 1.5rem;
      width: 60%;
      height: 3px;
      background: $color-4;
      border-radius: 5px;
    }

    &__filled {
      height: 5px;
      background: $color-2;
      border-radius: 5px;
    }
  }
}

.languages {
  width: 40%;

  &__wrap {
    margin: 1rem 0;
    padding: 2rem;
    background: $bg-color-dark;
    opacity: 0.9;
    box-shadow: 0px 2px 4px $color-1;
    border-radius: 10px;
  }

  &__item {
    &__wrap {
      width: 100%;
    }

    &__text {
      width: 30%;
      font-family: Work Sans;
      font-style: normal;
    }

    &__points {
      width: 60%;

      &__point {
        max-width: 1000px;
        color: $color-4;
        margin: 0 0.5rem;
      }

      &__fill {
        color: $color-5;
      }
    }
  }
}
