@import 'assets/scss/variables';

.content {
  display: flex;
}

.resume-nav {
  width: 300px;
  height: 700px;
  background-color: $color-1;
  vertical-align: top;
  position: sticky;
  top: 0;


  img {
    max-width: 135px;
    max-height: 135px;
    border-radius: 50%;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 30px 0;
      padding: 10px;
      cursor: pointer;

      &.active {
        padding: 9px 30px 9px 30px;
        border: 1px solid $color-4;
        border-left: 3px solid $color-2;
        cursor: default;

        span {
          font-weight: 600;
          color: $color-2;
        }
      }
    }
  }
}


.resume-content {
  display: inline-block;
  padding: 40px 100px 40px 40px;
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: 0 2px 4px $color-1;
  width: calc(100% - 300px);
  min-height: 100%;
  height: 100%;

  position: relative;


  .border-sparks {
    position: absolute;
    left: -23px;
    top: 0;
    min-height: 100%;
    border-left: 40px solid $color-5;
    -webkit-border-image: url(assets/icons/line-sparkl.svg) 40 repeat;
  }

  .resume-date {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .btn-message {
    border: none;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    padding: 3% 7%;
    color: $text-color-3;

    width: 230px;
    height: 52px;

    text-align: center;
    background: $color-10;
    box-shadow: inset 0 6px 5px rgba(255, 255, 255, 0.3);
    border-radius: 30px;


    &:active, &:focus {
      outline: none !important;
    }

    &:active {
      box-shadow: inset 2px 2px $bg-color-dark;
    }
  }

  .resume-description {
    width: 40%;
    line-height: 24px;
  }


  .location-wrap {
    display: flex;
    align-items: center;
  }

  .separator {
    height: 1px;
    flex: 1;
    opacity: 0.5;
    background-color: $color-4;
  }

  .section-underline {
    width: 0;
    height: 4px;
    background-color: $color-2;
    transition: ease 0.3s;
  }

  .section-underline-active {
    width: 65px;
  }

  .review {
    padding: 10px;
    height: 167px;
    background-color: $bg-color-dark;
    border-radius: 10px;

    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
  }
}

.professional-skills {
  &__text-block {
    width: 45%;
  }

  &__progress {
    padding: 2rem;

    &__wrap {
      flex-direction: row;
      flex-wrap: wrap;
      width: 50%;
      background: $bg-color-dark;
      opacity: 0.9;
      box-shadow: 0px 2px 4px $color-1;
      border-radius: 10px;
    }

    &__name {
      font-family: $font-2;
    }
  }
}

.softskills {
  width: 55%;

  &__wrap {
    margin: 3rem 0;
  }

  &__skill {

    &__name {
      width: 30%;
      font-family: $font-2;
      line-height: 24px;
    }

    &__percent {
      @extend .softskills__skill__name;
      width: 10%;
    }
  }

  &__progressbar {
    &__full {
      display: flex;
      align-items: center;
      margin: 0 1.5rem;
      width: 60%;
      height: 3px;
      background: $color-4;
      border-radius: 5px;
    }

    &__filled {
      height: 5px;
      background: $color-2;
      border-radius: 5px;
    }
  }
}

.languages {
  width: 40%;

  &__wrap {
    margin: 1rem 0;
    padding: 2rem;
    background: $bg-color-dark;
    opacity: 0.9;
    box-shadow: 0px 2px 4px $color-1;
    border-radius: 10px;
  }

  &__item {
    &__wrap {
      width: 100%;
    }

    &__text {
      width: 30%;
      font-family: Work Sans;
      font-style: normal;
    }

    &__points {
      width: 60%;

      &__point {
        max-width: 1000px;
        color: $color-4;
        margin: 0 0.5rem;
      }

      &__fill {
        color: $color-5;
      }
    }
  }
}
