<div class="btn w__100per m__top--50 active d__flex d__flex--items-center d__flex--justify-center">
  <i [ngClass]="selectedSection?.icon"  class="m__right--10"></i>
  <span class="text text__lg text__color--9 text__fw--600">{{ selectedSection?.title }}</span>
</div>

<div class="container w__100per d__flex d__flex--direction-column">
  <div *ngIf="activeSection !== ClientProfileSections.ContactInfo" class="d__flex cursor__pointer m__top--30"
      (click)="onSectionCLick(ClientProfileSections.ContactInfo, 'Contact info', 'contact-info')"
  >
    <i class="contact-info m__right--10"></i>
    <span class="text text__lg text__color--3">Contact info</span>
  </div>

  <div *ngIf="activeSection !== ClientProfileSections.Billings" class="d__flex cursor__pointer m__top--30"
      (click)="onSectionCLick(ClientProfileSections.Billings, 'Billings', 'payments')"
  >
    <i class="payments m__right--10"></i>
    <span class="text text__lg text__color--3">Billings</span>
  </div>

  <div *ngIf="activeSection !== ClientProfileSections.PostedJobs" class="d__flex cursor__pointer m__top--30"
      (click)="onSectionCLick(ClientProfileSections.PostedJobs, 'Posted Jobs', 'categories')"
  >
    <i class="categories m__right--10"></i>
    <span class="text text__lg text__color--3">Posted Jobs</span>
  </div>

  <div *ngIf="activeSection !== ClientProfileSections.Payments" class="d__flex cursor__pointer m__top--30"
      (click)="onSectionCLick(ClientProfileSections.Payments, 'Payments', 'payments')"
  >
    <i class="payments m__right--10"></i>
    <span class="text text__lg text__color--3">Payments</span>
  </div>

  <div *ngIf="activeSection !== ClientProfileSections.PasswordAndSecurity" class="d__flex cursor__pointer m__top--30"
      (click)="onSectionCLick(ClientProfileSections.PasswordAndSecurity, 'Password & Security', 'security')"
  >
    <i class="security m__right--10"></i>
    <span class="text text__lg text__color--3">Password & Security</span>
  </div>
</div>

<div class="line d__flex d__flex--items-center d__flex--direction-column d__flex--justify-between">
  <div class="light-point d__flex d__flex--items-center">
    <div class="inner-point"></div>
  </div>

  <div class="light-point d__flex d__flex--items-center">
    <div class="inner-point"></div>
  </div>

  <div class="light-point d__flex d__flex--items-center">
    <div class="inner-point"></div>
  </div>

  <div class="light-point d__flex d__flex--items-center">
    <div class="inner-point"></div>
  </div>

  <div class="light-point d__flex d__flex--items-center">
    <div class="inner-point"></div>
  </div>

  <div class="light-point d__flex d__flex--items-center">
    <div class="inner-point"></div>
  </div>

  <div class="light-point d__flex d__flex--items-center">
    <div class="inner-point"></div>
  </div>

  <div class="light-point d__flex d__flex--items-center">
    <div class="inner-point"></div>
  </div>

  <div class="light-point d__flex d__flex--items-center">
    <div class="inner-point"></div>
  </div>
</div>
