<ul>
  <li class="d__flex"
      [class.active]="activeSection === ClientProfileSections.ContactInfo"
      (click)="onSectionCLick(ClientProfileSections.ContactInfo)"
  >
    <mat-icon svgIcon="contact-info" class="m__right--10"></mat-icon>
    <span class="text text__lg">Contact info</span>
  </li>

  <li class="d__flex"
      [class.active]="activeSection === ClientProfileSections.Billings"
      (click)="onSectionCLick(ClientProfileSections.Billings)"
  >
    <mat-icon svgIcon="payments" class="m__right--10"></mat-icon>
    <span class="text text__lg text__color--1">Billings</span>
  </li>

  <li class="d__flex"
      [class.active]="activeSection === ClientProfileSections.PostedJobs"
      (click)="onSectionCLick(ClientProfileSections.PostedJobs)"
  >
    <mat-icon svgIcon="categories" class="m__right--10"></mat-icon>
    <span class="text text__lg text__color--1">Posted Jobs</span>
  </li>

  <li class="d__flex"
      [class.active]="activeSection === ClientProfileSections.Payments"
      (click)="onSectionCLick(ClientProfileSections.Payments)"
  >
    <mat-icon svgIcon="payments" class="m__right--10"></mat-icon>
    <span class="text text__lg text__color--1">Payments</span>
  </li>

  <li class="d__flex"
      [class.active]="activeSection === ClientProfileSections.PasswordAndSecurity"
      (click)="onSectionCLick(ClientProfileSections.PasswordAndSecurity)"
  >
    <mat-icon svgIcon="security" class="m__right--10"></mat-icon>
    <span class="text text__lg text__color--1">Password & Security</span>
  </li>
</ul>
