@import 'assets/scss/variables';

$min-height: 290px;
$min-width-left: 170px;

:host {
  display: flex;
  margin-bottom: 40px;

  color: $text-color-3;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 0 4.5%;
  width: 100%;
  background-color: $color-1;
  box-shadow: 4px 2px 6px 8px rgba(192,192,192, 0.25);
  cursor: pointer;
}

.left-side {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2% 4.5% 2% 0;
  min-height: $min-height;
  width: 30%;
  min-width: $min-width-left;
  border-right: 2px solid $color-5;
}

.client-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  min-width: 120px;
  height: 15vmin;
  width: 15vmin;
  border-radius: 50%;
  background-color: $color-3;
}

.client-photo img {
  min-width: 90px;
  min-height: 90px;
  height: 11vmin;
  width: 11vmin;
  opacity: 0.8;
}

.border-point {
  --size: 10px;
  width: var(--size);
  height: var(--size);
  right: calc(-1px - var(--size) / 2);

  &--1 {
    top: calc(10% - var(--size) / 2);
  }

  &--2 {
    top: calc(45% - var(--size) / 2);
  }

  &--3 {
    top: calc(80% - var(--size) / 2);
  }
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  padding: 2% 0 2% 4.5%;
  font-family: 'Work Sans', sans-serif;

  div {
    margin-bottom: 4px;
  }
}

hr.splitter-line {
  height: 0;
  width: 100%;
  border-bottom: 1px solid #4B4949;
}
