<div class="left-side">
  <img src="./assets/img/default-client-photo.svg" alt="client-photo" class="client-photo">
  <div class="company-name">
    {{job.company || 'No Company'}}
  </div>
  <div class="price">
    ${{job.price}}/Mth
  </div>
  <p class="border-point first"></p>
  <p class="border-point second"></p>
  <p class="border-point third"></p>
</div>

<div class="right-side">
  <div>
    <div class="job-title">{{job.title}}</div>
    <div class="job-duration"><span>Project duration</span> {{ job.duration }} months</div>
  </div>
  <div class="job-description">{{ job.description }}</div>
  <div>
    <div class="requirements">
      <span *ngFor="let req of job.requirements.split(' ')">{{req}}</span> <!-- TODO change logic-->
    </div>
    <hr class="splitter-line">
  </div>
  <div>
    <div class="job-categories">
      <span *ngFor="let cat of job.categories.split(' ')">{{cat}}</span> <!-- TODO change logic-->
    </div>
    <hr class="splitter-line">
  </div>
  <div class="job-info-wrapper">
    <img src="/assets/icons/location.svg" alt="location">
    <span>{{job.city}}, {{job.country}}</span>
    <span class="job-date">{{ job.dateCreated | date:'dd MMMM'}}</span>
  </div>
</div>
