
<div class="active-menu-item m__bottom--30" >
  <ng-template [cdkPortalOutlet]="domPortal"></ng-template>
</div>

<ul>
  <li class="d__flex"
      [class.active]="activeSection === DevProfileSections.ApprovedProjects"
      (click)="onSectionCLick(DevProfileSections.ApprovedProjects, $event.currentTarget)"
  >
    <i class="approved-projects-light m__right--10"></i>
    <span class="text text__lg text__color--3">Approved projects</span>
  </li>

  <li class="d__flex"
      [class.active]="activeSection === DevProfileSections.Education"
      (click)="onSectionCLick(DevProfileSections.Education, $event.currentTarget)"
  >
    <i class="education-light m__right--10"></i>
    <span class="text text__lg text__color--3">Education</span>
  </li>

  <li class="d__flex"
      [class.active]="activeSection === DevProfileSections.SoftSAndSkills"
      (click)="onSectionCLick(DevProfileSections.SoftSAndSkills, $event.currentTarget)"
  >
    <i class="soft-skills-light m__right--10"></i>
    <span class="text text__lg text__color--3">Soft skills</span>
  </li>

  <li class="d__flex"
      [class.active]="activeSection === DevProfileSections.CategoriesAndSkills"
      (click)="onSectionCLick(DevProfileSections.CategoriesAndSkills, $event.currentTarget)"
  >
    <i class="categories-light m__right--10"></i>
    <span class="text text__lg text__color--3">Categories & Skills</span>
  </li>

  <li class="d__flex"
      [class.active]="activeSection === DevProfileSections.PasswordAndSecurity"
      (click)="onSectionCLick(DevProfileSections.PasswordAndSecurity, $event.currentTarget)"
  >
    <i class="password-and-security-light m__right--10"></i>
    <span class="text text__lg text__color--3">Password & Security</span>
  </li>

  <li class="d__flex"
      [class.active]="activeSection === DevProfileSections.BillingAndPayments"
      (click)="onSectionCLick(DevProfileSections.BillingAndPayments, $event.currentTarget)"
  >
    <i class="billing-and-payments-light m__right--10"></i>
    <span class="text text__lg text__color--3">Billing & Payments</span>
  </li>

  <li class="d__flex"
      [class.active]="activeSection === DevProfileSections.Reviews"
      (click)="onSectionCLick(DevProfileSections.Reviews, $event.currentTarget)"
  >
    <i class="reviews-sidenav-light m__right--10"></i>
    <span class="text text__lg text__color--3">Reviews</span>
  </li>

  <li class="d__flex d__flex--items-center"
      [class.active]="activeSection === DevProfileSections.Employment"
      (click)="onSectionCLick(DevProfileSections.Employment, $event.currentTarget)"
  >
    <i class="employment-light m__right--10"></i>
    <span class="text text__lg text__color--3">Employment</span>
  </li>

  <li class="d__flex"
      [class.active]="activeSection === DevProfileSections.ExpertiseLevel"
      (click)="onSectionCLick(DevProfileSections.ExpertiseLevel, $event.currentTarget)"
  >
    <i class="expertise-level-light m__right--10"></i>
    <span class="text text__lg text__color--3">Expertise Level</span>
  </li>

  <li class="d__flex"
      [class.active]="activeSection === DevProfileSections.Contracts"
      (click)="onSectionCLick(DevProfileSections.Contracts, $event.currentTarget)"
  >
    <i class="contracts-light m__right--10"></i>
    <span class="text text__lg text__color--3">Contracts</span>
  </li>

  <li class="d__flex"
      [class.active]="activeSection === DevProfileSections.Languages"
      (click)="onSectionCLick(DevProfileSections.Languages, $event.currentTarget)"
  >
    <i class="languages-light m__right--10"></i>
    <span class="text text__lg text__color--3">Languages</span>
  </li>

  <li class="d__flex"
      [class.active]="activeSection === DevProfileSections.HourlyRate"
      (click)="onSectionCLick(DevProfileSections.HourlyRate, $event.currentTarget)"
  >
    <i class="hourly-rate-light m__right--10"></i>
    <span class="text text__lg text__color--3">Hourly rate</span>
  </li>

  <li class="d__flex"
      [class.active]="activeSection === DevProfileSections.ProfilePhoto"
      (click)="onSectionCLick(DevProfileSections.ProfilePhoto, $event.currentTarget)"
  >
    <i class="profile-photo-light m__right--10"></i>
    <span class="text text__lg text__color--3">Profile photo</span>
  </li>

  <li class="d__flex"
      [class.active]="activeSection === DevProfileSections.Location"
      (click)="onSectionCLick(DevProfileSections.Location, $event.currentTarget)"
  >
    <i class="location-light m__right--10"></i>
    <span class="text text__lg text__color--3">Location</span>
  </li>

  <li class="d__flex" #defaultActive
      [class.active]="activeSection === DevProfileSections.ContactInfo"
      (click)="onSectionCLick(DevProfileSections.ContactInfo, $event.currentTarget)"
  >
    <i class="contact-info-light m__right--10"></i>
    <span class="text text__lg text__color--3">Contact info</span>
  </li>

</ul>
