
<div class="active-menu-item m__bottom--30" >
  <ng-template [cdkPortalOutlet]="domPortal"></ng-template>
</div>

<ul>
  <li class="d__flex text__color--3"
      [class.active]="activeSection === DevProfileSections.ApprovedProjects"
      (click)="onSectionCLick(DevProfileSections.ApprovedProjects, $event.currentTarget)"
  >
    <i class="approved-projects-sidenav m__right--10"></i>
    <span class="text text__lg">Approved projects</span>
  </li>

  <li class="d__flex text__color--3"
      [class.active]="activeSection === DevProfileSections.Education"
      (click)="onSectionCLick(DevProfileSections.Education, $event.currentTarget)"
  >
    <i class="education-sidenav m__right--10"></i>
    <span class="text text__lg">Education</span>
  </li>

  <li class="d__flex text__color--3"
      [class.active]="activeSection === DevProfileSections.SoftSAndSkills"
      (click)="onSectionCLick(DevProfileSections.SoftSAndSkills, $event.currentTarget)"
  >
    <i class="soft-skills-sidenav m__right--10"></i>
    <span class="text text__lg">Soft skills</span>
  </li>

  <li class="d__flex text__color--3"
      [class.active]="activeSection === DevProfileSections.CategoriesAndSkills"
      (click)="onSectionCLick(DevProfileSections.CategoriesAndSkills, $event.currentTarget)"
  >
    <i class="categories-and-skills-sidenav m__right--10"></i>
    <span class="text text__lg">Categories & Skills</span>
  </li>

  <li class="d__flex text__color--3"
      [class.active]="activeSection === DevProfileSections.PasswordAndSecurity"
      (click)="onSectionCLick(DevProfileSections.PasswordAndSecurity, $event.currentTarget)"
  >
    <i class="password-and-security-sidenav m__right--10"></i>
    <span class="text text__lg">Password & Security</span>
  </li>

  <li class="d__flex text__color--3"
      [class.active]="activeSection === DevProfileSections.BillingAndPayments"
      (click)="onSectionCLick(DevProfileSections.BillingAndPayments, $event.currentTarget)"
  >
    <i class="billing-and-payments-sidenav m__right--10"></i>
    <span class="text text__lg">Billing & Payments</span>
  </li>

  <li class="d__flex text__color--3"
      [class.active]="activeSection === DevProfileSections.Reviews"
      (click)="onSectionCLick(DevProfileSections.Reviews, $event.currentTarget)"
  >
    <i class="reviews-sidenav m__right--10"></i>
    <span class="text text__lg">Reviews</span>
  </li>

  <li class="d__flex text__color--3 d__flex--items-center"
      [class.active]="activeSection === DevProfileSections.Employment"
      (click)="onSectionCLick(DevProfileSections.Employment, $event.currentTarget)"
  >
    <i class="employment-sidenav m__right--10"></i>
    <span class="text text__lg">Employment</span>
  </li>

  <li class="d__flex text__color--3"
      [class.active]="activeSection === DevProfileSections.ExpertiseLevel"
      (click)="onSectionCLick(DevProfileSections.ExpertiseLevel, $event.currentTarget)"
  >
    <i class="expertise-level-sidenav m__right--10"></i>
    <span class="text text__lg">Expertise Level</span>
  </li>

  <li class="d__flex text__color--3"
      [class.active]="activeSection === DevProfileSections.Contracts"
      (click)="onSectionCLick(DevProfileSections.Contracts, $event.currentTarget)"
  >
    <i class="contracts-sidenav m__right--10"></i>
    <span class="text text__lg">Contracts</span>
  </li>

  <li class="d__flex text__color--3"
      [class.active]="activeSection === DevProfileSections.Languages"
      (click)="onSectionCLick(DevProfileSections.Languages, $event.currentTarget)"
  >
    <i class="languages-sidenav m__right--10"></i>
    <span class="text text__lg">Languages</span>
  </li>

  <li class="d__flex text__color--3"
      [class.active]="activeSection === DevProfileSections.HourlyRate"
      (click)="onSectionCLick(DevProfileSections.HourlyRate, $event.currentTarget)"
  >
    <i class="hourly-rate-sidenav m__right--10"></i>
    <span class="text text__lg">Hourly rate</span>
  </li>

  <li class="d__flex text__color--3"
      [class.active]="activeSection === DevProfileSections.ProfilePhoto"
      (click)="onSectionCLick(DevProfileSections.ProfilePhoto, $event.currentTarget)"
  >
    <i class="profile-photo-sidenav m__right--10"></i>
    <span class="text text__lg">Profile photo</span>
  </li>

  <li class="d__flex text__color--3"
      [class.active]="activeSection === DevProfileSections.Location"
      (click)="onSectionCLick(DevProfileSections.Location, $event.currentTarget)"
  >
    <i class="location-sidenav m__right--10"></i>
    <span class="text text__lg">Location</span>
  </li>

  <li class="d__flex text__color--3" #defaultActive
      [class.active]="activeSection === DevProfileSections.ContactInfo"
      (click)="onSectionCLick(DevProfileSections.ContactInfo, $event.currentTarget)"
  >
    <i class="contact-info-sidenav m__right--10"></i>
    <span class="text text__lg">Contact info</span>
  </li>

</ul>
