<app-auth-container [backgroundImageSearch]="true">
  <div class="text__color--3 text__center w__594 d__flex d__flex--direction-column d__flex--items-center">
     <h2 class="text__color--3 text__font--2 text__fw--500 text__center m__top--45 text__xxlg title-notify">
      check your email
     </h2>
     <p class="text__color--3 text__font--2 text__fw--300 text__center p__confirm text__md">if you can not find our message, it might be in your <br> spam/junk. The email expires in 24 hous.</p>
     <app-button (buttonClick)="handleClickButton()" [text]="'RESEND'" [type]="'main'"></app-button>
     <p class="text__color--3 text__font--2 text__fw--300 text__center m__top--25 text-align--centre p__text text__sm">For further assistance accessing your account, please <a class="text__color--5 text__font--2 text__fw--300 text__center p__link text__sm" href="#">contact us</a>.</p>
  </div>
</app-auth-container>
