<div class="d__inline-flex d__flex--direction-column d__flex--items-center m__right--30">
  <i class="user user-gray"></i>
  <span class="text tet__lg text__bold text__uppercase text__color--1 m__top--10">
    name
  </span>
  <span class="text tet__lg text__color--1 m__top--10">
    {{ userInfo.firstName }}
  </span>
</div>

<div class="d__inline-flex d__flex--direction-column d__flex--items-center m__right--30">
  <i class="email email-gray"></i>
  <span class="text tet__lg text__bold text__uppercase text__color--1 m__top--10">
    email
  </span>
  <span class="text tet__lg text__color--1 m__top--10">
   {{ userInfo.email }}
  </span>
</div>

<div class="d__inline-flex d__flex--direction-column d__flex--items-center">
  <i class="contact-info contact-info-gray"></i>
  <span class="text tet__lg text__bold text__uppercase text__color--1 m__top--10">
    timezone
  </span>
  <span class="text tet__lg m__top--10">
   {{ userInfo.timezone }}
  </span>
</div>

<div class="d__inline-flex d__flex--direction-column d__flex--items-center">
  <i class="location location-gray"></i>
  <span class="text tet__lg text__bold text__uppercase text__color--1 m__top--10">
    address
  </span>
  <span class="text tet__lg m__top--10">
   {{ userInfo.address }}
  </span>
</div>

<div class="d__inline-flex d__flex--direction-column d__flex--items-center">
  <i class="phone phone-gray"></i>
  <span class="text tet__lg text__bold text__uppercase text__color--1 m__top--10">
    phone
  </span>
  <span class="text tet__lg m__top--10">
   {{ userInfo.phone }}
  </span>
</div>
