@import 'assets/scss/variables';

::ng-deep {
  .iti {
    display: inline-block;
    width: 232px;
    height: 40px;
    border: 1px solid $color-4;
    border-radius: 5px;
    background: transparent;
    font-family: Raleway;
    font-feature-settings: "lnum";
    font-size: 12px;
  }

  .iti .dropdown-menu.country-dropdown {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-color: #c7cace;
    margin-top: -1px;
  }

  .iti .iti__country-list {
    box-shadow: none;
    font-size: 14px;
    margin-left: 0;
    width: 244px;
    max-height: 170px;
  }

  .iti__flag-container.open + input {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .iti .search-container input {
    font-size: 14px;
    border-color: #c7cace;
    border-radius: 0;
    padding: 5px 10px;
  }

  .iti .search-container input:focus {
    outline: none;
  }

  @media screen and (max-width: 479px) {
    .iti .iti__country-list {
      width: 88.3vw;
    }
  }

  ngx-intl-tel-input input {
    height: 40px;
    padding: 10px;
    border-style: solid;
    border-color: #c7cace;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5)
  }

  ngx-intl-tel-input.ng-invalid.ng-touched input {
    border: 2px solid #c0392b;
  }

  ngx-intl-tel-input input:hover {
  }

  ngx-intl-tel-input input:focus {
    outline: none !important;
    border-color: #3498db;
    box-shadow: 0 0 0 0 #000;
  }

  ngx-intl-tel-input input::-webkit-input-placeholder {
    color: #bac2c7;
  }

  ngx-intl-tel-input input:-ms-input-placeholder {
    color: #bac2c7;
  }

  ngx-intl-tel-input input::-ms-input-placeholder {
    color: #bac2c7;
  }

  ngx-intl-tel-input input::placeholder {
    color: #bac2c7;
  }

  ngx-intl-tel-input input[disabled] {
    background-color: #e5eaf1;
  }
}


