<div class="chat__text-editor">
  <div class="chat__text-editor__toolbar">
    <span class="ql-formats">
      <button class="ql-bold"></button>
      <button class="ql-italic"></button>
      <button class="ql-underline"></button>
      <button class="ql-strike"></button>
      <select class="ql-align">
        <option value="right"></option>
        <option value="center"></option>
        <option value="" selected></option>
      </select>
    </span>
    <span class="ql-formats">
      <select class="ql-font"></select>
    </span>
    <span class="ql-formats">
      <button class="ql-emoji"></button>
      <button class="ql-link"></button>
      <button class="ql-attach-file"><i class="upload"></i></button>
    </span>
  </div>
  <div class="chat__text-editor__send">
    <app-button [type]="'chat-send'" (buttonClick)="onSendButtonClick($event)"><i class="send"></i></app-button>
  </div>
  <div class="chat__text-editor__divider"></div>
  <div class="chat__text-editor__body">
    <quill-editor
      [(ngModel)]="textContent"
      [modules]="quillModules"
      (onContentChanged)="textContentChange($event)"
      (onEditorCreated)="getEditorInstance($event)"
    ></quill-editor>
  </div>
  <div class="chat__text-editor__counter ql-counter"></div>
</div>
