@import '~assets/scss/variables';

$editor-border: 1px solid $color-8;

:host {
  font-family: $font-2;
  display: block;
  max-height: 500px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.chat__text-editor {
  &__toolbar {
    border: none;
    padding: 12px;

    .ql-attach-file {
      color: $text-color-5;
      width: 130px;
      line-height: 1.2rem;
      float: right;

      @media screen and (max-width: $screen-xl) {
        float: none;
      }
    }
  }

  &__divider {
    width: 95%;
    height: 1px;
    margin: 0 auto;
    background-color: rgba(105, 105, 105, .9);
  }

  &__counter {
    text-align: right;
    padding: 5px 12px;
    color: $text-color-6;
  }
}

::ng-deep {
  .ql-snow.ql-toolbar,
  .ql-snow .ql-toolbar {
    button:hover,
    button:focus,
    button.ql-active,
    .ql-picker-label:hover,
    .ql-picker-label.ql-active,
    .ql-picker-item:hover,
    .ql-picker-item.ql-selected {
      .ql-stroke,
      .ql-stroke-miter {
        stroke: $text-color-5 !important;
      }
    }
  }

  .ql-snow.ql-toolbar,
  .ql-snow .ql-toolbar {
    button:hover,
    button:focus,
    button.ql-active,
    .ql-picker-label:hover,
    .ql-picker-label.ql-active,
    .ql-picker-item:hover,
    .ql-picker-item.ql-selected {
      .ql-fill,
      .ql-stroke.ql-fill {
        fill: $text-color-5 !important;
      }
    }
  }

  .ql-snow,
  .ql-snow.ql-toolbar,
  .ql-snow .ql-toolbar {
    a,
    button:hover,
    button:focus,
    button.ql-active,
    .ql-picker-label:hover,
    .ql-picker-label.ql-active,
    .ql-picker-item:hover,
    .ql-picker-item.ql-selected {
      color: $text-color-5 !important;
    }
  }

  .ql-snow .ql-tooltip {
    background-color: $bg-color-opacity !important;
    box-shadow: none;
    color: $text-color-8;
  }

  .ql-fill,
  .ql-emoji .ql-fill {
    fill: $text-color-8 !important;
  }

  .ql-stroke,
  .ql-emoji .ql-stroke {
    stroke: $text-color-8 !important;
  }

  .ql-picker-options {
    background-color: $bg-color-opacity !important;
  }

  .ql-picker.ql-font {
    color: $text-color-8;
    border: $editor-border;

    &.ql-expanded {
      border: $editor-border !important;
    }
  }

  .ql-container {
    border: none !important;
    max-height: 68px !important;
    overflow: auto;
  }

  .ql-editor {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    padding: 26px 35px;
    max-height: 400px;
    overflow: auto;
    color: $text-color-8 !important;

    &:before {
      color: $text-color-8 !important;
      font-style: normal !important;
      left: 35px !important;
      right: 35px !important;
    }

    .ql-file-embedded {
      margin: 10px auto;
      padding: 5px 10px;
      font-size: 14px;
      border: 1px solid rgba(105, 105, 105, .9);
      user-select: none;
    }
  }
}
