@import '~normalize.css';
@import 'assets/scss/icons';
@import 'assets/scss/fonts';
@import 'assets/scss/variables';
@import 'assets/scss/spacing';
@import 'assets/scss/display';

// Loading styles for chat text-editor
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
@import '~quill-emoji/dist/quill-emoji.css';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$itop1000-front-primary: mat-palette($mat-color-1);
$itop1000-front-accent: mat-palette($mat-color-2, A200, A100, A400);

// The warn palette is optional (defaults to red).
$itop1000-front-warn: mat-palette($mat-color-2);

// Create the theme object (a Sass map containing all of the palettes).
$itop1000-front-theme: mat-light-theme($itop1000-front-primary, $itop1000-front-accent, $itop1000-front-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($itop1000-front-theme);

body {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.red-line {
  height: 12px;
  width: 100%;
  background: $color-2;
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.18);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.error {
  display: inline-block;
  padding: 10px;
  background-color: $color-1;
}

i {
  display: inline-block;
}

.text {
  font-family: $font-1;
  font-style: normal;
  font-weight: normal;
  font-feature-settings: "lnum";

  &__transform {
    &--capitalize {
      text-transform: capitalize;
    }
  }

  &__font--2 {
    font-family: $font-2;
  }

  &__font--3 {
    font-family: $font-3;
  }

  &__font--4 {
    font-family: $font-4;
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
  }

  &__center {
    text-align: center;
  }

  &__right {
    text-align: right;
  }

  &__uppercase {
    text-transform: uppercase;
  }

  &__lowercase {
    text-transform: lowercase;
  }

  &__capitalize {
    text-transform: capitalize;
  }

  &__underline {
    text-decoration-line: underline;
  }

  &__decoration--none {
    text-decoration: none;
  }

  &__color--1 {
    color: $text-color-1;
  }

  &__color--2 {
    color: $text-color-2;
  }

  &__color--3 {
    color: $text-color-3;
  }

  &__color--4 {
    color: $text-color-4;
  }

  &__color--5 {
    color: $text-color-5;
  }

  &__color--6 {
    color: $text-color-6;
  }

  &__color--8 {
    color: $text-color-8;
  }

  &__color--9 {
    color: $text-color-9;
  }

  &__color--10 {
    color: $text-color-10;
  }

  &__xs {
    font-size: 9px;
  }

  &__sm {
    font-size: 12px;
  }

  &__md {
    font-size: 14px;
  }

  &__lg {
    font-size: 16px;
  }

  &__xlg {
    font-size: 20px;
  }

  &__xxlg {
    font-size: 24px;
  }

  &__xxxlg {
    font-size: 28px;
  }

  &__x4lg {
    font-size: 30px;
  }

  &__x5lg {
    font-size: 40px;
  }

  &__x6lg {
    font-size: 44px;
  }

  &__x7lg {
    font-size: 56px;
  }

  &__x8lg {
    font-size: 70px;
  }

  &__bold {
    font-weight: bold;
  }

  &__lighter {
    font-weight: lighter;
  }

  &__fw {
    &--200 {
      font-weight: 200;
    }

    &--300 {
      font-weight: 300;
    }

    &--500 {
      font-weight: 500;
    }

    &--600 {
      font-weight: 600;
    }
  }
}

.cursor {
  &__pointer {
    cursor: pointer;
  }
}

.mat-dialog-container {
  padding: 0 !important;
}

.outline {
  width: 50px;
  height: 50px;
  border: 1px solid $color-9;
  border-radius: 50%;
}

.circle {
  background: $color-4;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.line {
  border: 1px solid $color-8;
}

a:hover {
  font-weight: 500;
  color: $text-color-5;
}

.border-point {
  position: absolute;
  background-color: $color-5;
  box-shadow: 0 0 4px 4px rgba(237, 216, 140, 0.7);
  border-radius: 50%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
