@import "src/assets/scss/variables";

:host {
  position: relative;
}

.header {
  position: relative;
  height: 62px;
  background-color: $color-1;
  overflow: hidden;

  .close {
    position: absolute;
    right: 20px;
  }
}

.info {
  overflow: auto;
  height: 100%;
}
