<div class="wrap w__100per d__flex">
  <span class="text__uppercase text text__color--2 text__fw--600 text__x6lg">itop1000</span>
  <span class="text text__fw--500 text__x5lg text__center">
    – itop1000 is an amazing user-friendly platform for freelance developers and clients:
  </span>
</div>

<div class="d__flex m__top--60 d__flex--wrap d__flex--justify-center">
  <div class="m--5 description text text__fw--500 text__xxlg">
    <span class="text">For Employers:</span>
    <p class="m__top--20 text__fw--300 text__md text__color--6">
      You gain access to the best freelance developers in the industry.
      All you need is to post a project, and our team will match you with
      the best-fitted talent to complete your project. Monitor your project
      status on our platform and communicate with the writer throughout
      the duration of the project. You can also pay with your preferred payment
      option, and the freelancer will only get paid once you accept the final task.
    </p>
  </div>

  <div class="m--5 text description text__fw--500 text__xxlg">
    <span class="text">For Freelancers:</span>
    <p class="m__top--20 text__fw--300 text__md text__color--6">
      Create an account and upload your qualifications. Our team will verify your credentials,
      and you can start accepting gigs. Earn money by working with world-renowned companies.
      Boost your portfolio and reputation in the industry.
    </p>
  </div>
</div>
