@import "~assets/scss/variables";

:host {
  grid-column-start: 1;
  grid-column-end: 3;
  border-bottom: 1px solid $text-color-10;
  position: relative;
}

.chat__header-search {
  width: 300px;
  margin: 10px 0;
  right: 0;
  position: absolute;
}
