<div class="container">
    <img class="logo-icon" src="../../../../assets/icons/logo-preview-2.svg" alt="logo">
    <ul class="first-list">
        <li class="list-item">
            <a href="">services</a>
        </li>
        <li class="list-item">
            <a href="">Specialists</a>
        </li>
        <li class="list-item">
            <a href="">Projects</a>
        </li>
        <li class="list-item">
            <a href="">Question-answer</a>
        </li>
    </ul>
    <ul class="second-list">
        <li class="list-item">
            <a href="">How to make money on ITOP1000</a>
        </li>
        <li class="list-item">
            <a href="">Terms of use</a>
        </li>
        <li class="list-item">
            <a href="">Privacy policy</a>
        </li>
        <li class="list-item">
            <a href="">Support service</a>
        </li>
    </ul>
    <div class="line"></div>
    <div class="client-freelancer">
        <div class="circles">
            <div class="outline">
                <div class="circle"></div>
            </div>
            <div class="outline">
                <div class="circle"></div>
            </div>
            <div class="outline">
                <div class="circle"></div>
            </div>
            <div class="outline">
                <div class="circle"></div>
            </div>
        </div>
        <div class="client-freelancer-text">
            <a href="" class="client">client</a>
            <span>|</span>
            <a href="" class="freelancer">Freelancer</a>
        </div>
    </div>
</div>
