<app-profile-section-header [title]="'Account'" (edit)="editToggle()"></app-profile-section-header>

<div class="p__20">
  <ng-container *ngIf="isEdit">
    <app-dev-contact-info-edit [userInfo]="userInfo$ | async" (cancel)="editToggle()" (save)="onSaveClick($event)" (updateProfileInfo)="this.updateProfileInfo.emit($event)"></app-dev-contact-info-edit>
  </ng-container>

  <ng-container *ngIf="!isEdit">
    <app-dev-contact-info-preview [userInfo]="userInfo$ | async"></app-dev-contact-info-preview>
  </ng-container>
</div>
