.mat-tab-group {
  margin-bottom: 48px;
  background-color: transparent;
}

.mat-ink-bar {
  background-color: #F31D42 !important;
}

.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: #F31D42;
  font-weight: 700;
}

.mat-tab-label:active{
  min-width: 25px !important;
  background-color:transparent;
  color:white !important;
  font-weight: 700;
}

.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  background-color: transparent;
  color: white;
  font-weight: 700;
}
