<app-dev-location></app-dev-location>

<div>Approved projects</div>
<div>
  <div>
<!--    <app-project-card></app-project-card>-->
  </div>

</div>
<!--<app-active-projects [active]="projects$"></app-active-projects>-->
<!--<app-project-card [project]="projects$"></app-project-card>-->

<div class="container">
  <div class="d__flex d__flex--items-center project-container">
    <i class="project-logo"></i>
    <div class="project-info">
      <div class="project-name">Name Name</div>
      <div class="project-date">28 mach</div>
      <div class="project-text"> ous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment,  by the charms of pleasure of the momen  by the charms of pleasure of the momen  by the charms of pleasure of the momen...</div>
      <div class="d__flex d__flex--justify-between">
        <div class="project-skills  d__flex--justify-between">
          <span>JavaScript</span>
          <span>CSS3</span>
          <span>JavaScript</span>
          <span>HTML5</span>
        </div>
        <div class="project-btn d__flex d__flex--items-center">
          <span class="delete-btn">delete project</span>
          <button class="chat-btn">Go to private chat</button>
        </div>
      </div>
    </div>
  </div>
</div>

