<div class="line"></div>
<div class="points w__100per d__flex d__flex--direction-column d__flex--justify-between">

  <div class="light-point d__flex d__flex--items-center">
    <div class="inner-point"></div>
  </div>

  <div class="light-point d__flex d__flex--items-center">
    <div class="inner-point"></div>
  </div>

  <div class="light-point d__flex d__flex--items-center">
    <div class="inner-point"></div>
  </div>

  <div class="light-point d__flex d__flex--items-center">
    <div class="inner-point"></div>
  </div>

  <div class="light-point d__flex d__flex--items-center">
    <div class="inner-point"></div>
  </div>

  <div class="light-point d__flex d__flex--items-center">
    <div class="inner-point"></div>
  </div>

  <div class="light-point d__flex d__flex--items-center">
    <div class="inner-point"></div>
  </div>

  <div class="light-point d__flex d__flex--items-center">
    <div class="inner-point"></div>
  </div>

  <div class="light-point d__flex d__flex--items-center">
    <div class="inner-point"></div>
  </div>

  <div class="light-point d__flex d__flex--items-center">
    <div class="inner-point"></div>
  </div>

  <div class="light-point d__flex d__flex--items-center">
    <div class="inner-point"></div>
  </div>

</div>
