<div class="d__flex d__flex--items-center m__bottom--10">
  <span><i [ngClass]="paymentMethod.card.brand" class="card m__right--20"></i></span>

  <div class="text text__color--1 text__sm">
    <span class="text__transform--capitalize">{{ paymentMethod.card.brand }}</span> ending in
    <span class="text__bold">{{ paymentMethod.card.last4 }}</span>
  </div>

  <div class="m__left--auto m__right--30">
    <mat-icon svgIcon="edit" class="cursor__pointer m__right--20" (click)="onEditClick()"></mat-icon>
    <mat-icon svgIcon="delete" class="cursor__pointer" (click)="onDeleteClick()"></mat-icon>
  </div>
</div>
