<div class="d__flex content-wrap">
  <div class="d__flex d__flex--items-center d__flex--justify-center m__right--10">
    <img *ngIf="project.logo" [src]="project.logo" alt="projectImage">
    <div *ngIf="!project.logo" class="image-exchange">

    </div>
  </div>
  <div class="d__flex d__flex--direction-column">
    <div class="d__flex">
      <span class="text text__center text__color--5 text__uppercase text__font--2">
        {{ project.title }}
      </span>
    </div>
    <div>
    <span *ngIf="project.from && project.to" class="project-card-date text__color--4 text__font--2 text__xs text__capitalize">
        {{ project.from | date : 'MMMM yyyy' }} - {{ project.to | date: 'MMMM yyyy' }}
      </span>
    </div>
    <div class=" m__top--10">
        <span class="text text__color--4 text__lg project-description">
        {{ project.description }}
      </span>
    </div>
    <div class="m__top--20">
    <span class="text text__color--3 text__fw--600 text__sm text__uppercase m__right--30"
          *ngFor="let technology of project.technologies">
      {{ technology.name }}
    </span>
    </div>

  </div>
</div>
