<div class="d__flex content-wrap">
  <div>
    <div class="logo-star">

    </div>
  </div>
  <div class="d__flex d__flex--direction-column m__left--30">
    <div class="d__flex">
      <span class="m__top--10 text__center text__color--5 text__font--2 text__uppercase">
        {{ project.title }}
      </span>
    </div>
    <span class="text text__color--4 text__lg m__top--10">
    {{ project.description }}
  </span>

    <div class="m__top--20">
    <span class="text text__color--3 text__sm text__uppercase m__right--10"
          *ngFor="let technology of project.technologies">
      {{ technology.name }}
    </span>
    </div>

  </div>
</div>
