<span class="text text__fw--700 text__x7lg text__uppercase">{{ type === 'developers' ? 'Top Talents (Developers)' : 'Top Companies' }}</span>

<div class="m__top--50 d__flex d__flex--wrap d__flex--justify-center">

  <div *ngFor="let item of data" class="box m--5 m__top--30 d__flex d__flex--direction-column d__flex--items-center">
    <div class="photo m__top--30"></div>
    <span class="m__top--15 text text__fw--500 text__x4lg text__uppercase text__underline cursor__pointer" *ngIf="type === 'companies'">{{ item }}</span>
    <div *ngIf="type === 'developers'" class="m__top--15 d__flex d__flex--items-center d__flex--direction-column">
      <span class="text text__fw--500 text__x4lg text__uppercase text__underline cursor__pointer">{{ item.name }}</span>
      <span class="text text__fw--500 text__x4lg text__uppercase text__underline cursor__pointer">{{ item.surname }}</span>
      <span class="m__top--10 text text__wf--500 text__xlg text__color--5">{{ item.price | currency }}/hr</span>
    </div>
  </div>

</div>

<span class="m__top--60 text text__color--6 text__underline text__lg cursor__pointer">
  {{ type === 'developers' ? 'See all our talented developers' : 'Discover all Companies' }}
</span>
